<div class="JTM-S-Carousel">
  <div id="JTM-S-Carousel-PostsList">
    <button class="JTM-S-Carousel-Control">west</button>
    {% assign featured_posts = site.posts | where: 'featured', true | limit: 5 %} {% for post in featured_posts %}
    <a class="JTM-S-Carousel-PostItem" href="{{ post.url | prepend: site.baseurl }}">
      <img id="JTM-S-Carousel-PostImpression" src="{{ post.impression }}" alt="{{ post.title }}" />
      <h2 id="JTM-S-Carousel-PostInfo">{{ post.title }}</h2>
    </a>
    {% endfor %} {% assign first_post = featured_posts.first %}
    <a class="JTM-S-Carousel-PostItem" href="{{ first_post.url | prepend: site.baseurl }}">
      <img id="JTM-S-Carousel-PostImpression" src="{{ first_post.impression }}" alt="{{ first_post.title }}" />
      <h2 id="JTM-S-Carousel-PostInfo">{{ first_post.title }}</h2>
    </a>
    <button class="JTM-S-Carousel-Control">east</button>
  </div>
</div>
