<div class="mnb" spec="bottom">
  <div class="menu-and-fab">
    <div class="mib">menu</div>
  </div>

  <div class="destinations">
    <a href="/">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <!-- https://fonts.google.com/icons?selected=Material+Icons&icon.set=Material+Symbols -->
            <span>home</span>
          </div>
        </div>
        <p id="label">首页</p>
      </div>
    </a>

    <a href="/posts">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span>article</span>
          </div>
        </div>
        <p id="label">文章</p>
      </div>
    </a>

    <a href="/components">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span>draw</span>
          </div>
        </div>
        <p id="label">组件</p>
      </div>
    </a>

    <a href="/author">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span>person</span>
          </div>
        </div>
        <p id="label">关于作者</p>
      </div>
    </a>

    <a href="/about">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span>info</span>
          </div>
        </div>
        <p id="label">关于主题</p>
      </div>
    </a>

    <a href="/thirdparty">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span>package</span>
          </div>
        </div>
        <p id="label">第三方库</p>
      </div>
    </a>
  </div>
</div>

<div class="mtb" spec="small-centered">
  <div class="mib" id="mtb-mib-menu">menu</div>
  <h4 id="mtb-dc-area">{{ page.title }}</h4>
  <div class="mib" id="mtb-mib-search">search</div>
</div>
<script>
  const navTarget = window.innerWidth;
  if (navTarget > 768) {
    document.querySelector(".mnb").classList.replace("mnb", "mnr");
  }
</script>
