<div class="default-header">
  <svg width="0" height="0">
    <filter id="noise-filter">
      <feTurbulence
        type="fractalNoise"
        baseFrequency="1"
        numOctaves="5"
        seed="{{ site.version | remove: '.'  }}"
        result="noise" />
      <feColorMatrix
        type="saturate"
        values="0"
        result="desaturatedNoise" />
      <feComponentTransfer>
        <feFuncR type="discrete" tableValues="0 1" />
        <feFuncG type="discrete" tableValues="0 1" />
        <feFuncB type="discrete" tableValues="0 1" />
        <feFuncA type="discrete" tableValues="1 1" />
      </feComponentTransfer>
    </filter>
  </svg>
  {% if page.url != "/index.html" %}
    <md-icon-button id="default-header-webinfo">
      <md-icon>info</md-icon>
    </md-icon-button>
  {% endif %}
  {% assign photograph = page.impression | default: site.impression %}
  <div id="default-header-hero-container">
    <span id="default-header-hero-headline">{{ page.title | default: site.title }}</span>
    {% if page.description and page.description != "" %}
      <span id="default-header-hero-subtitle">{{ page.description }}</span>
    {% endif %}
    <div id="default-header-impression">
      <div id="default-header-impression-noise"></div>
      <div id="default-header-impression-image" style="background-image: url('{{ photograph }}');"></div>
    </div>
  </div>
</div>