<div class="material-navigation-rail disable-select" id="header-1">
  <!-- 占位符 -->
  <span></span>
  <!-- 页面指示开始 -->
  <div class="destinations">
    <a href="/">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <!-- https://fonts.google.com/icons?icon.style=Outlined&icon.set=Material+Icons -->
            <span class="material-icons-outlined" id="segment-icon"> home </span>
          </div>
        </div>
        <p id="label">首页</p>
      </div>
    </a>

    <a href="/about">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span class="material-icons-outlined" id="segment-icon"> person </span>
          </div>
        </div>
        <p id="label">关于</p>
      </div>
    </a>

    <a href="/posts">
      <div id="segment-inactive">
        <div id="accent">
          <div id="segment-primary-icon">
            <span class="material-icons-outlined" id="segment-icon"> articles </span>
          </div>
        </div>
        <p id="label">文章</p>
      </div>
    </a>
  </div>
  <span></span>
</div>

<script src="/assets/js/components/navigations.js"></script>
