<div class="JTM-S-ScrollToTop">
  <button id="JTM-S-ScrollToTop-Desktop">vertical_align_top</button>
  <button
    class="JTM-C-FAB"
    id="JTM-S-ScrollToTop-Mobile"
    spec="primary">vertical_align_top</button>
</div>