<div class="JTM-S-UniversalLayout">
  {% include Navigation.liquid %}
  <div id="JTM-S-UniversalLayout-ContentFlow">
    {% if include.spec_carousel == "true" %}
      {% include Carousel.liquid %}
    {% elsif include.spec_page_index == "true" %}
      {% include Header.liquid spec_page_index = "true" %}
    {% else %}
      {% include Header.liquid %}
    {% endif %}
    <div
      id="JTM-S-UniversalLayout-ContentFiller"
      {% if include.spec_layout == "article" %}
      spec="article"
      {% endif %}>{% include Content.liquid %}</div>
    {% include QuickJump.liquid %}
    <hr spec="wave" />
    {% include Footer.liquid %}
  </div>
</div>