// 1024px 适配

@media screen and (max-width: 1024px) {
  .JTM-S-ScrollToTop {
    #JTM-S-ScrollToTop-Desktop {
      margin-block-end: 172px;
      margin-inline-end: 30px;
    }
  }

  #JTM-S-WebsiteInformation {
    margin-inline-end: 36px;
  }

  .JTM-S-Carousel #JTM-S-Carousel-PostsList {
    .JTM-S-Carousel-PostItem #JTM-S-Carousel-PostInfo {
      padding-block: 40px 20px;
      padding-inline: 30px;

      h1 {
        @include typescale-style("display-medium");
      }

      h4 {
        @include typescale-style("title-medium");
      }
    }
  }

  .JTM-S-UniversalLayout {
    #JTM-S-UniversalLayout-ContentFlow {
      .JTM-S-Carousel {
        margin-inline: 12px;
      }

      .JTM-S-Header {
        flex-direction: column;

        margin-inline: 12px;

        #JTM-S-Header-HeroContainer {
          width: 100%;

          #JTM-S-Header-HeroHeadline {
            @include typescale-style("display-large", $font-size: 8vw, $font-weight: 600, $line-height: 8vw);
          }

          #JTM-S-Header-HeroSubtitle {
            @include typescale-style("headline-large", $font-size: 23rem, $line-height: 23rem);
          }
        }

        #JTM-S-Header-Impression {
          height: 100%;
          width: 100%;
        }
      }

      #JTM-S-UniversalLayout-ContentFiller {
        margin-inline: 12px;
      }

      .JTM-S-QuickJump {
        margin-inline: 12px;
      }

      .JTM-S-Footer {
        margin-inline: 12px;
      }
    }
  }

  .JTM-P-Index {
    #JTM-P-Index-CardSet {
      grid-template-columns: repeat(2, 1fr);

      #JTM-P-Index-SummaryCard {
        grid-column: span 2;
      }
    }
  }

  .JTM-P-Posts {
    #JTM-P-Posts-Timeline {
      .JTM-P-Posts-Timeline-L2 {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
