// 1440px 适配

@media screen and (max-width: 1440px) {
  #JTM-S-UniversalLayout-ContentFlow {
    .JTM-S-Title #JTM-S-Title-HeroContainer {
      #JTM-S-Title-HeroHeadline {
        font-size: 7vw;
        line-height: 7vw;
      }
    }

    #JTM-S-UniversalLayout-ContentFiller {
        padding-inline: calc(100% / 2 - 420px);
    }
  }
}
