// 768px 适配

@media screen and (max-width: 768px) {
  html,
  body {
    ::-webkit-scrollbar {
      width: 3px;
    }

    ::-webkit-scrollbar-thumb {
      background-clip: unset;
    }
  }

  a {
    width: auto;
  }

  .JTM-S-404NotFound #JTM-S-404NotFound-Information {
    h1 {
      font-size: 75rem;
    }
    h3 {
      font-size: 20rem;
    }
  }

  .JTM-S-CornerFAB {
    margin-block-end: 25px;
    margin-inline-end: 20px;

    bottom: 80px;
  }

  .JTM-C-Navigation {
    &[spec="bar"] {
      grid-row: 2/2;

      visibility: visible;
      z-index: 11;
    }

    &[spec="rail"] {
      visibility: hidden;
    }
  }

  .JTM-C-NavigationDrawer {
    left: 0;

    #JTM-C-NavigationDrawer-MenuCloseIcon {
      display: block;

      position: absolute;
      left: 3px;
      top: 12px;
    }

    #JTM-C-NavigationDrawer-Section {
      position: relative;
      top: 60px;

      height: calc(100% - 50px);

      padding-block-end: 20px;
      padding-inline: 10px;
    }
  }

  .JTM-C-AppBar {
    top: 0;

    visibility: visible;
  }

  .JTM-S-WebsiteInformation {
    display: none;
  }

  .JTM-S-QuickJump {
    a {
      width: 100%;

      #JTM-S-QuickJump-Previous {
        margin-inline-end: 0;
        margin-block-end: 3px;
      }

      #JTM-S-QuickJump-Next {
        margin-inline-start: 0;
        margin-block-start: 3px;
      }
    }
  }

  .JTM-S-Title {
    margin: 0;
  }

  .JTM-S-UniversalLayout {
    grid-template-columns: none;
    grid-template-rows: auto 80px;

    #JTM-S-UniversalLayout-ContentFlow {
      grid-column: auto;
      grid-row: 1/2;

      margin: 0;
      padding: 75px 10px 120px;

      .JTM-S-Title {
        flex-direction: column;

        #JTM-S-Title-HeroContainer {
          grid-column: span 2;

          #JTM-S-Title-HeroHeadline {
            @include display-medium();

            line-height: 45rem;
          }
        }

        #JTM-S-Title-Impression {
          grid-column: span 2;
        }
      }

      #JTM-S-UniversalLayout-ContentFiller {
        padding: 0 0 36px 0;

        background-color: transparent;
      }
    }
  }

  .JTM-P-Index {
    align-items: center;
    flex-direction: column-reverse;

    width: 100%;

    margin-block-start: 30px;
    margin-inline: 0;
    padding-block: 0;

    .timeline {
      .index-level1 {
        align-items: center;
      }

      .index-level2 {
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        width: 100%;
      }

      .posts-card .posts-date-day {
        left: unset;
        right: 0;

        border-radius: 12px 20px 12px 12px;
      }
    }

    .person-intro {
      max-width: 360px;
      min-width: unset;
      width: 80vw;

      margin: auto;

      position: relative;
      top: 0;

      .section1 {
        width: 100%;
      }
    }
  }
}
