// 768px 适配

@media screen and (max-width: 768px) {
  html,
  body {
    ::-webkit-scrollbar {
      width: 3px;
    }

    ::-webkit-scrollbar-thumb {
      background-clip: unset;
    }
  }

  a {
    width: auto;
  }

  .JTM-S-404NotFound #JTM-S-404NotFound-Information {
    h1 {
      font-size: 75rem;
    }
    h3 {
      font-size: 20rem;
    }
  }

  .JTM-S-ScrollToTop {
    #JTM-S-ScrollToTop-Desktop {
      display: none;
    }

    #JTM-S-ScrollToTop-Mobile {
      display: block;

      bottom: 80px;

      margin-block-end: 25px;
      margin-inline-end: 20px;
    }
  }

  .JTM-C-Navigation {
    &[spec="bar"] {
      grid-row: 2/2;

      visibility: visible;
      z-index: 11;
    }

    &[spec="rail"] {
      visibility: hidden;
    }
  }

  .JTM-C-NavigationDrawer {
    left: 0;

    padding-block: 60px 8px;

    #JTM-C-NavigationDrawer-MenuCloseIcon {
      display: block;

      position: fixed;
      left: 4px;
      top: 12px;

      z-index: 11;
    }

    &[show] {
      padding-block: 54px 8px;
    }
  }

  .JTM-C-AppBar {
    top: 0;

    visibility: visible;
  }

  #JTM-S-WebsiteInformation {
    display: none;
  }

  .JTM-S-QuickJump {
    a {
      width: 100%;
    }

    &#JTM-S-QuickJump-Pair a {
      #JTM-S-QuickJump-Previous {
        margin-block-end: 3px;
        margin-inline-end: 0;
      }

      #JTM-S-QuickJump-Next {
        margin-block-start: 3px;
        margin-inline-start: 0;
      }
    }
  }

  .JTM-S-UniversalLayout {
    grid-template-columns: none;
    grid-template-rows: auto 80px;

    #JTM-S-UniversalLayout-ContentFlow {
      grid-column: auto;
      grid-row: 1/2;

      padding-block: 115px 120px;
      padding-inline: 12px;

      .JTM-S-Carousel {
        height: calc(55vh - 64px - 80px);

        margin: 0;

        #JTM-S-Carousel-PostsList {
          margin: 0;

          .JTM-S-Carousel-PostItem #JTM-S-Carousel-PostInfo {
            padding-block: 40px 20px;
            padding-inline: 30px;

            h1 {
              @include typescale-style("headline-large");
            }

            h4 {
              @include typescale-style("body-large");
            }
          }
        }
      }

      .JTM-S-Header {
        flex-direction: column;

        height: calc(55vh - 64px - 80px);

        margin: 0;

        #JTM-S-Header-HeroContainer {
          grid-column: span 2;

          padding: 5vw;

          #JTM-S-Header-HeroHeadline {
            @include typescale-style("display-large", $font-size: 10vw, $font-weight: 500, $line-height: 10vw);
          }

          #JTM-S-Header-HeroSubtitle {
            @include typescale-style("display-small", $font-size: 20rem, $font-weight: 500, $line-height: 20rem);
          }
        }

        #JTM-S-Header-Impression {
          grid-column: span 2;
        }
      }

      #JTM-S-UniversalLayout-ContentFiller {
        margin-block: 12px 6px;
        margin-inline: 0;
        padding: 0 0 36px 0;

        background-color: transparent;
      }

      .JTM-S-QuickJump {
        margin-inline: 0;
      }

      .JTM-S-Footer {
        margin-inline: 0;

        #JTM-S-Footer-Socialmedia {
          justify-content: space-evenly;
        }
      }
    }
  }

  .JTM-P-Index {
    #JTM-P-Index-CardSet {
      grid-template-columns: repeat(1, 1fr);

      #JTM-P-Index-SummaryCard {
        grid-column: span 1;
      }
    }
  }

  .JTM-P-Posts {
    align-items: center;
    flex-direction: column-reverse;

    width: 100%;

    margin-inline: 0;
    padding-block: 0;

    #JTM-P-Posts-Timeline {
      .JTM-P-Posts-Timeline-L2 {
        grid-template-columns: repeat(1, 1fr);

        width: 100%;

        #JTM-P-Posts-Timeline-PostCard .JTM-P-Posts-Timeline-DateDetail {
          left: unset;
          right: 0;

          border-radius: 12px 20px 12px 12px;
        }
      }
    }
  }
}
