// 动画

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes popOut {
  0% {
    transform: scale(0);
  }

  40% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ripple {
  from {
    height: calc(var(--ripple-effect-d) * 0.5px);
    width: calc(var(--ripple-effect-d) * 0.5px);

    filter: blur(5px);
    opacity: 0.5;
  }

  to {
    height: calc(var(--ripple-effect-d) * 2px);
    width: calc(var(--ripple-effect-d) * 2px);

    filter: blur(0);
    opacity: 0;
  }
}

@keyframes JTM-C-ProgressIndicator-Loop {
  0% {
    --JTM-C-ProgressIndicator-Deg: 30deg;
    rotate: 0deg;
  }

  50% {
    --JTM-C-ProgressIndicator-Deg: 300deg;
    transform: rotateZ(0deg);
  }
  100% {
    --JTM-C-ProgressIndicator-Deg: 30deg;
    rotate: 360deg;
    transform: rotateZ(360deg);
  }
}

@keyframes JTM-C-Dialog-Show {
  0% {
    filter: blur(20px);
    transform: scale(1.15);
    opacity: 0;
  }

  30% {
    filter: blur(0px);
  }

  50% {
    transform: scale(1);
  }

  100% {
    opacity: 1;
  }
}

@keyframes JTM-C-Dialog-Close {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  30% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}
