@mixin JTM-E-UserSelect($value: none) {
  -moz-user-select: $value;
  -webkit-user-drag: $value;
  -webkit-user-select: $value;
  user-select: $value;
}

@import "tokens";
@import "@font-face";
@import "@animation";
@import "@overlay";
@import "variables";

@import "_components/AppBar";
@import "_components/Card";
@import "_components/Chip";
@import "_components/Code";
@import "_components/CommonButton";
@import "_components/Dialog";
@import "_components/FAB";
@import "_components/IconButton";
@import "_components/Navigation";
@import "_components/NavigationDrawer";
@import "_components/ProgressIndicator";
@import "_components/Snackbar.scss";
@import "_components/Table";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  font-size: 0.0625rem;
  text-rendering: optimizeLegibility;

  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  scrollbar-color: var(--md-sys-color-secondary) #0000;
  scrollbar-width: auto;

  ::-webkit-scrollbar {
    height: 18px;
    width: 12px;

    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: var(--md-sys-shape-corner-small);
    border: 3px solid transparent;

    background-clip: content-box;
    background-color: var(--md-sys-color-secondary);

    &:hover {
      background-color: var(--md-sys-color-tertiary);
    }
  }

  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::selection {
    color: var(--md-sys-color-surface-variant);

    background-color: var(--md-sys-color-on-surface-variant);
  }

  @media (pointer: coarse) {
    ::-webkit-scrollbar {
      height: 3px;
      width: 3px;
    }

    ::-webkit-scrollbar-thumb {
      background-clip: unset;
    }
  }
}

.JTM-Root {
  color: var(--md-sys-color-on-surface);

  background-color: var(--md-sys-color-surface-container-low);

  opacity: 1;
  transition: background-color var(--md-sys-motion-duration-extra-long1) var(--md-sys-motion-easing-standard),
    filter var(--md-sys-motion-duration-extra-long1) var(--md-sys-motion-easing-standard);

  :disabled,
  [disabled] {
    @include JTM-E-UserSelect(none);

    box-shadow: none;
    filter: grayscale(1);
    opacity: 0.38;
    pointer-events: none;
  }

  JTM-E-Ripple {
    position: absolute;
    left: calc(var(--JTM-E-Ripple-PosX) * 1px);
    top: calc(var(--JTM-E-Ripple-PosY) * 1px);

    border-radius: var(--md-sys-shape-corner-full);

    background-color: var(--md-sys-color-primary);

    animation: ripple var(--md-sys-motion-duration-long4) var(--md-sys-motion-easing-emphasized);
    pointer-events: none;
    transform: translate(-50%, -50%);
  }

  [spec="filled"]JTM-E-Ripple {
    background-color: var(--md-sys-color-on-primary);
  }

  [spec="outlined"]JTM-E-Ripple,
  [spec="text"]JTM-E-Ripple,
  [spec="elevated"]JTM-E-Ripple {
    background-color: var(--md-sys-color-primary);
  }

  [spec="tonal"]JTM-E-Ripple {
    background-color: var(--md-sys-color-on-secondary-container);
  }
}

h1 {
  @include typescale-style("headline-large");

  margin: 0;
}

h2 {
  @include typescale-style("headline-medium");

  margin: 0;
}

h3 {
  @include typescale-style("headline-small");

  margin: 0;
}

h4 {
  @include typescale-style("title-large");

  margin: 0;
}

h5 {
  @include typescale-style("title-medium");

  margin: 0;
}

h6 {
  @include typescale-style("title-small");

  margin: 0;
}

p {
  @include typescale-style("body-large");

  margin: 0;
}

a {
  display: inline-block;

  height: max-content;
  width: max-content;

  color: var(--md-sys-color-primary);
  letter-spacing: 0;
  text-underline-offset: 5px;

  code {
    color: var(--md-sys-color-inverse-primary) !important;
    font-weight: bold;
    text-decoration: underline;
  }
}

abbr {
  cursor: help;
}

del,
s {
  opacity: 0.5;
}

hr {
  border: 1px solid var(--md-sys-color-outline-variant);

  opacity: 0.3;

  &[spec="wave"] {
    height: 15px;

    border-radius: var(--md-sys-shape-corner-small);
    border: none;

    background: var(--md-sys-color-outline-variant);

    -webkit-mask: var(--via-svg-wave) repeat;
    mask: var(--via-svg-wave) repeat;
  }
}

pre {
  overflow: auto;
}

ul {
  padding-inline-start: 20px;

  list-style-type: none;

  li {
    @include typescale-style("body-large");

    position: relative;

    margin-block-end: 5px;

    &::before {
      content: "";

      display: inline-block;

      position: absolute;
      left: -21px;
      top: 4.5px;

      height: 18px;
      width: 18px;

      background-color: var(--md-sys-color-on-surface);

      -webkit-mask: var(--via-svg-list-bullet) 0 0/100% no-repeat;
      mask: var(--via-svg-list-bullet) 0 0/100% no-repeat;
    }
  }
}

ol {
  padding-inline-start: 20px;

  li {
    @include typescale-style("body-large");

    position: relative;

    margin-block-end: 5px;

    .rouge-code {
      pre {
        white-space: break-spaces;
      }
    }
  }
}

.task-list {
  padding-inline-start: 1em;

  list-style-type: none;

  .task-list-item {
    margin: 5px 0;

    vertical-align: middle;

    input {
      line-height: 0;

      &.task-list-item-checkbox {
        @include material-symbols($size: 24);

        display: inline-block;

        margin-inline-end: 2px;

        letter-spacing: 0;
        vertical-align: inherit;

        appearance: none;

        &::after {
          content: "check_box_outline_blank";

          display: inline-block;

          height: 26.4px;

          color: var(--md-sys-color-on-surface-variant);
        }

        &:checked::after {
          content: "check_box";

          color: var(--md-sys-color-primary);
          font-variation-settings: "FILL" 1;
        }
      }
    }
  }
}

.JTM-P-Index {
  #JTM-P-Index-CardSet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    #JTM-P-Index-SummaryCard {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 12px;
      grid-column: span 3;

      padding-block: 24px;
      padding-inline: 28px;

      border-radius: var(--md-sys-shape-corner-extra-large);
      border: 1px solid var(--md-sys-color-outline-variant);

      background-color: var(--md-sys-color-surface-container-low);

      .JTM-P-Index-SummaryTitle {
        display: flex;
        align-items: flex-start;
        gap: 12px;

        #JTM-P-Index-SummaryTitle-Leader {
          @include material-symbols($size: 30);
        }

        #JTM-P-Index-SummaryTitle-TitleContainer {
          .JTM-P-Index-SummaryTitle-Date {
            color: var(--md-sys-color-on-surface-variant);
          }

          .JTM-P-Index-SummaryTitle-Content {
            letter-spacing: 1.3px;
          }
        }
      }

      .JTM-P-Index-Summary {
        letter-spacing: 1.1px;
        text-indent: 1.1em;

        #JTM-P-Index-ReadMore {
          display: inline-flex;
          align-items: center;
          flex-wrap: nowrap;
          gap: 3px;

          text-decoration: none;
          text-indent: initial;

          transition: var(--md-sys-motion-duration-short4) var(--md-sys-motion-easing-emphasized);

          &::after {
            @include material-symbols("east", $size: 18);
          }

          &:hover {
            gap: 12px;
          }
        }
      }
    }

    .JTM-P-Index-Card {
      width: 100%;
      height: 100%;

      text-decoration: none;

      &:nth-of-type(1) .JTM-C-Card-Impression {
        background-color: #5574a9;
      }

      &:nth-of-type(2) .JTM-C-Card-Impression {
        background-color: #a95586;
      }

      &:nth-of-type(3) .JTM-C-Card-Impression {
        background-color: #a97155;
      }

      &:nth-of-type(4) .JTM-C-Card-Impression {
        background-color: #7255a9;
      }

      &:nth-of-type(5) .JTM-C-Card-Impression {
        background-color: #82a955;
      }

      &:nth-of-type(6) .JTM-C-Card-Impression {
        background-color: #a95555;
      }
    }
  }
}

.JTM-P-Posts {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: space-between;

  #JTM-P-Posts-Timeline {
    display: flex;
    flex-direction: column;
    gap: 18px;

    width: 100%;

    margin-block-start: 18px;

    .JTM-P-Posts-Timeline-L1 {
      display: inline-flex;
      flex-direction: column;
      gap: 18px;

      #JTM-P-Posts-Timeline-By-Year,
      #JTM-P-Posts-Timeline-By-Month {
        color: var(--md-sys-color-on-surface);
      }
    }

    .JTM-P-Posts-Timeline-L2 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 12px;

      #JTM-P-Posts-Timeline-PostCard {
        height: 100%;

        a {
          display: block;

          width: 100%;

          position: relative;

          text-decoration: none;

          img {
            opacity: 1;
            transition: var(--md-sys-motion-duration-medium4);
          }
        }
      }
    }
  }
}

.JTM-P-Licenses {
  text-align: center;

  table td {
    text-align: start;

    a {
      text-decoration: none;
    }
  }
}

.JTM-P-PixivGallery {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-evenly;

  a {
    flex-grow: 1;
  }
}

@import "_snippets/404NotFound.scss";
@import "_snippets/Carousel";
@import "_snippets/Footer.scss";
@import "_snippets/Header.scss";
@import "_snippets/LoadingSplash.scss";
@import "_snippets/NoContent.scss";
@import "_snippets/QuickJump.scss";
@import "_snippets/ScrollToTop.scss";
@import "_snippets/UniversalLayout.scss";
@import "_snippets/WebsiteInformation.scss";

@import "@1024";
@import "@768";
@import "@425";
@import "@375";
