@use "sass:meta";
@use "mixin";

* {
  box-sizing: border-box;
}

@include meta.load-css("fonts");
@include meta.load-css("tokens");
@include meta.load-css("animation");
@include meta.load-css("overlay");

@include meta.load-css("_components/appbar");
@include meta.load-css("_components/card");
@include meta.load-css("_components/code");
@include meta.load-css("_components/dialog");
@include meta.load-css("_components/footer");
@include meta.load-css("_components/header");
@include meta.load-css("_components/layout");
@include meta.load-css("_components/loading-splash");
@include meta.load-css("_components/navigation");
@include meta.load-css("_components/notfound");
@include meta.load-css("_components/snackbar");
@include meta.load-css("_components/table");

:root {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  font-size: 0.0625rem;
  font-synthesis: none;
  scrollbar-color: var(--md-sys-color-secondary) transparent;
  text-rendering: optimizeLegibility;
  hyphens: auto;
}

html,
body {
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  overflow: hidden;

  ::selection {
    color: var(--md-sys-color-surface-variant);

    background-color: var(--md-sys-color-on-surface-variant);
  }
}

.theme-root {
  position: relative;

  color: var(--md-sys-color-on-surface);

  background-color: var(--md-sys-color-surface-container-low);

  backdrop-filter: contrast(1);
  opacity: 1;
  touch-action: none;
  transition: var(--md-sys-motion-duration-extra-long1) var(--md-sys-motion-easing-standard);
  z-index: 1;

  :disabled,
  [disabled] {
    box-shadow: none;
    filter: grayscale(1);
    opacity: 0.38;
    pointer-events: none;
  }
}

h1 {
  @include mixin.typescale-style("headline-large");

  margin: 0px;
}

h2 {
  @include mixin.typescale-style("headline-medium");

  margin: 0px;
}

h3 {
  @include mixin.typescale-style("headline-small");

  margin: 0px;
}

h4 {
  @include mixin.typescale-style("title-large");

  margin: 0px;
}

h5 {
  @include mixin.typescale-style("title-medium");

  margin: 0px;
}

h6 {
  @include mixin.typescale-style("title-small");

  margin: 0px;
}

p {
  @include mixin.typescale-style("body-large");

  margin: 0px;
}

a {
  display: inline-block;

  height: max-content;
  width: max-content;

  color: var(--md-sys-color-primary);
  letter-spacing: 0px;
  text-underline-offset: 5px;

  code {
    color: var(--md-sys-color-inverse-primary) !important;
    font-weight: bold;
    text-decoration: underline;
  }
}

abbr {
  cursor: help;
}

del,
s {
  opacity: 0.5;
}

hr {
  border: 1px solid var(--md-sys-color-outline-variant);

  opacity: 0.3;

  &[spec="wave"] {
    height: 15px;

    margin: 0px;

    border-radius: var(--md-sys-shape-corner-small);
    border: none;

    background: var(--md-sys-color-outline-variant);

    -webkit-mask: var(--via-svg-wave) repeat;
    mask: var(--via-svg-wave) repeat;
  }
}

.task-list {
  padding-inline-start: 1em;

  list-style-type: none;

  .task-list-item {
    margin: 5px 0px;

    vertical-align: middle;

    input {
      line-height: 0px;

      &.task-list-item-checkbox {
        @include mixin.material-symbols($size: 24);

        display: inline-block;

        margin-inline-end: 2px;

        letter-spacing: 0px;
        vertical-align: inherit;

        appearance: none;

        &::after {
          content: "check_box_outline_blank";

          display: inline-block;

          height: 26.4px;

          color: var(--md-sys-color-on-surface-variant);
        }

        &:checked::after {
          content: "check_box";

          color: var(--md-sys-color-primary);
          font-variation-settings: "FILL" 1;
        }
      }
    }
  }
}

.p-posts {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: space-between;

  #p-posts-timeline {
    display: flex;
    flex-direction: column;
    gap: 18px;

    width: 100%;

    margin-block-start: 18px;

    .p-posts-timeline-level1 {
      display: inline-flex;
      flex-direction: column;
      gap: 18px;

      .p-posts-timeline-by-year,
      .p-posts-timeline-by-month {
        color: var(--md-sys-color-on-surface);
      }
    }

    .p-posts-timeline-level2 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 12px;

      .p-posts-timeline-post-card {
        height: 100%;

        a {
          display: block;

          width: 100%;

          position: relative;

          text-decoration: none;

          img {
            opacity: 1;
            transition: var(--md-sys-motion-duration-medium4);
          }
        }
      }
    }
  }
}

.p-pixivgallery {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-evenly;

  a {
    flex-grow: 1;
  }
}

giscus-widget {
  display: block;

  width: auto;
}
