// https://m3.material.io/components/icon-buttons/
.mib {
  @extend .material-symbols-rounded;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  height: 40px;
  width: 40px;

  font-size: 24px;

  border-radius: 100px;
  border: none;

  cursor: pointer;
  overflow: hidden;
  transition: 0.4s;

  &::after {
    content: "";

    position: absolute;

    height: 100%;
    width: 100%;

    border-radius: 100%;

    opacity: 0;
    transition: 0.4s;
  }

  &:hover {
    &::after {
      transition: 0.2s;
      opacity: var(--md-sys-state-hover-state-layer-opacity);
    }
  }

  &:focus {
    &::after {
      transition: 0.2s;
      opacity: var(--md-sys-state-focus-state-layer-opacity);
    }
  }

  &:active {
    &::after {
      transition: 0.2s;
      opacity: var(--md-sys-state-pressed-state-layer-opacity);
    }
  }

  &,
  &[spec="standard"] {
    color: var(--md-sys-color-on-surface-variant);

    &:hover {
      &::after {
        background-color: var(--md-sys-color-on-surface-variant);
      }
    }

    &:focus {
      background-color: var(--md-sys-color-on-surface-variant);
    }

    &:active {
      &::after {
        background-color: var(--md-sys-color-on-surface-variant);
      }
    }

    &:disabled {
      color: var(--md-sys-color-on-surface);

      background: none;

      opacity: 0.38;

      &::after {
        background-color: var(--md-sys-color-on-surface);

        opacity: 0.18;
      }
    }
  }

  &[spec="filled"] {
    color: var(--md-sys-color-on-primary);

    background-color: var(--md-sys-color-primary);

    &:hover {
      &::after {
        background-color: var(--md-sys-color-on-primary);
      }
    }

    &:focus {
      &::after {
        background-color: var(--md-sys-color-on-primary);
      }
    }

    &:active {
      &::after {
        background-color: var(--md-sys-color-on-primary);
      }
    }

    &:disabled {
      color: var(--md-sys-color-on-surface);

      background: none;

      opacity: 0.38;

      &::after {
        background-color: var(--md-sys-color-on-surface);

        opacity: 0.18;
      }
    }
  }

  &[spec="tonal"] {
    color: var(--md-sys-color-on-secondary-container);

    background-color: var(--md-sys-color-secondary-container);

    &:hover {
      &::after {
        background-color: var(--md-sys-color-on-secondary-container);
      }

      box-shadow: var(--md-sys-elevation-level1);
    }

    &:focus {
      &::after {
        background-color: var(--md-sys-color-on-secondary-container);
      }
    }

    &:active {
      &::after {
        background-color: var(--md-sys-color-on-secondary-container);
      }
    }

    &:disabled {
      color: var(--md-sys-color-on-surface);

      background: none;

      opacity: 0.38;

      &::after {
        background-color: var(--md-sys-color-on-surface);

        opacity: 0.18;
      }
    }
  }

  &[spec="outlined"] {
    color: var(--md-sys-color-primary);

    background: none;

    border: 1px solid var(--md-sys-color-outline);

    &:hover {
      &::after {
        background-color: var(--md-sys-color-primary);
      }
    }

    &:focus {
      &::after {
        background-color: var(--md-sys-color-primary);
      }
    }

    &:active {
      &::after {
        background-color: var(--md-sys-color-primary);
      }
    }

    &:disabled {
      color: var(--md-sys-color-on-surface);

      background: none;

      opacity: 0.38;
    }
  }
}
