// https://m3.material.io/components/navigation-rail/
.mnr {
  @extend .disable-select;

  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;

  position: fixed;
  left: 0;

  padding: 44px 0px 56px;

  height: 100%;
  width: 80px;

  background-color: var(--md-sys-color-surface);

  overflow-x: hidden;
  z-index: 10;

  .menu-and-fab {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;

    span {
      @extend .material-symbols-rounded;

      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;

      height: 48px;
      width: 48px;

      font-size: 24px;

      cursor: pointer;
      overflow: hidden;
    }
  }

  .destinations {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;

    padding: 5px;

    z-index: 11;

    a {
      height: 70px;
      width: 100%;

      text-decoration: none;

      border-radius: 100%;
    }

    #segment-active {
      display: flex;
      align-items: center;
      align-self: stretch;
      flex-direction: column;

      margin: 4px 5px;
      padding: 0;

      height: 56px;

      #accent {
        display: flex;
        align-items: center;
        flex: none;
        justify-content: center;

        margin: 4px 0;

        position: relative;

        height: 32px;
        width: 56px;

        border-radius: 100px;

        background-color: var(--md-sys-color-secondary-container);

        overflow: hidden;

        #segment-primary-icon {
          position: absolute;

          height: 24px;
          width: 24px;

          color: var(--md-sys-color-on-secondary-container);

          transition: 0.3s;

          span {
            @extend .material-symbols-rounded;

            display: block;

            height: 24px;
            width: 24px;

            font-size: 24px;
            font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
            line-height: 24px;
          }
        }
      }

      #label {
        margin: 4px 0;

        color: var(--md-sys-color-on-surface);
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.5px;
        line-height: 16px;
        text-align: center;
      }

      &:hover {
        #accent {
          #segment-primary-icon span {
            font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48;
          }
        }
      }
    }

    #segment-inactive {
      @extend #segment-active;

      #accent {
        height: 32px;
        width: 32px;

        background: none;

        transition: 0.3s cubic-bezier(0.08, 0.82, 0.17, 1);

        #segment-primary-icon span {
          font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
        }
      }

      #label {
        @extend #label;

        color: #0000;
        line-height: 0px;
        text-decoration: none;

        transition: 0.3s ease-out;
        visibility: hidden;
      }

      &:hover {
        #accent {
          height: 32px;
          width: 56px;

          background-color: var(--md-sys-color-surface-variant);

          #segment-primary-icon span {
            font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48;
          }
        }

        #label {
          color: var(--md-sys-color-on-secondary-container);
          line-height: 16px;
          text-decoration: none;

          visibility: visible;
        }
      }
    }
  }

  &[spec="top"] {
    .destinations {
      justify-content: flex-start;
    }
  }

  &[spec="middle"] {
    .destinations {
      justify-content: center;
    }
  }

  &[spec="bottom"] {
    .destinations {
      justify-content: flex-end;
    }
  }

  &::before,
  &::after {
    content: "";

    position: fixed;
    left: 80px;

    height: 20px;
    width: 20px;

    background-color: var(--md-sys-color-surface);

    -webkit-mask: var(--via-svg-corner) no-repeat;
    mask: var(--via-svg-corner) no-repeat;
    z-index: 10;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;

    transform: rotate(270deg);
  }
}
