* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  font-family: "Noto Sans SC", sans-serif;
  font-size: 1px;
  font-style: normal;
  text-rendering: optimizeLegibility;

  scrollbar-width: thin;

  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--md-sys-color-secondary);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-track {
    background: none;
  }

  ::selection {
    color: var(--md-sys-color-surface-variant);
    background: var(--md-sys-color-on-surface-variant);
  }

  @media screen and (max-width: 768px) {
    ::-webkit-scrollbar {
      height: 2px;
      width: 2px;
    }
  }
}

.material-icons,
.material-icons-outlined {
  @extend .disable-select;
  -webkit-font-smoothing: antialiased;
}

.material-theme {
  color: var(--md-sys-color-on-background);

  background-color: var(--md-sys-color-background);

  transition: 0.5s cubic-bezier(0.4, 0, 0.25, 1);
}

@font-face {
  font-family: Smiley Sans;
  font-style: italic;
  src: url("/assets/fonts/SmileySans-Oblique.ttf.woff2");
}

a {
  height: max-content;
  width: max-content;

  color: var(--md-sys-color-primary);
  text-decoration: none;
}

br {
  @extend .disable-select;
}

details {
  margin: 0.5vh 0;

  border: 2px solid #00000000;
  border-radius: 12px;

  overflow: hidden;
  transition: cubic-bezier(0, 1, 1, 1) 0.4s;

  &:active,
  &:focus-visible {
    border: 2px solid var(--md-sys-color-on-background);
    border-radius: 12px;
    box-shadow: inset 0px 0px 0 2px var(--md-sys-color-background);

    outline: none;
  }

  img {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  summary {
    @extend .body-large;
    display: flex;

    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;

    padding: 10px;

    cursor: pointer;

    &::before {
      @extend .material-icons-outlined;

      content: "expand_more";
      font-family: "Material Icons";
      transform: rotateZ(-90deg);
      transition: 0.5s cubic-bezier(0, 0.25, 0.25, 1);
    }
  }

  &:hover {
    background-color: change-color($color: $md-sys-color-tertiary, $alpha: 0.2);
  }

  &[open] {
    summary {
      &:active,
      &:focus-visible {
        border-radius: 24px 24px 0 0;
      }

      &::before {
        transform: rotateZ(0deg);
      }
    }

    background-color: change-color($color: $md-sys-color-tertiary, $alpha: 0.2);

    border-radius: 24px 24px 12px 12px;

    transition: cubic-bezier(0, 1, 1, 1) 0.3s;
  }
}

h1 {
  @extend .headline-large;
}

h2 {
  @extend .headline-medium;
}

h3 {
  @extend .headline-small;
}

h4 {
  @extend .title-large;
}

h5 {
  @extend .title-medium;
}

h6 {
  @extend .title-small;
}

hr {
  height: 2px;
  width: 100%;

  background: var(--md-sys-color-on-surface-variant);

  border: none;
  opacity: 0.2;
}

em {
  font-family: "Smiley Sans";
}

mjx-container {
  font-size: 16rem !important;
  text-align: start !important;
}

p {
  @extend .body-large;
}

table {
  display: block;

  max-width: max-content;
  width: 100%;

  border-collapse: collapse;
  border-radius: 24px;
  border: 1px solid var(--md-sys-color-outline);

  overflow: auto;

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  caption {
    @extend .title-medium;

    padding: 16px 0;

    font-weight: bold !important;
    text-transform: uppercase;

    background: var(--md-sys-color-surface-variant);
  }

  thead {
    @extend .body-large;

    white-space: nowrap;

    tr {
      th {
        padding: 16px 24px;

        min-width: 10ch;

        font-weight: 500;
        text-transform: capitalize;

        background: var(--md-sys-color-surface-variant);

        border-left: 1px solid var(--md-sys-color-outline);
        border-top: 1px solid var(--md-sys-color-outline);

        &:first-child {
          border-left: none;
        }

        &:empty {
          border-top: none;
        }
      }

      &:first-child > th {
        border-top: none;
      }

      &:first-child > th:last-child {
        border-right: none;
      }
    }
  }

  tbody {
    @extend .body-large;

    tr {
      vertical-align: top;

      td {
        padding: 16px 24px;

        border-left: 1px solid var(--md-sys-color-outline);
        border-top: 1px solid var(--md-sys-color-outline);

        code {
          white-space: nowrap;
        }

        &:first-child {
          border-left: none;
        }

        &:empty {
          border-top: none;
        }
      }

      &:first-child > td:last-child {
        border-right: none;
      }
    }
  }
}

ul,
ol > li {
  @extend .body-large;
}

ul {
  padding: 0;

  list-style-type: none;

  li::before {
    content: " ";

    margin-inline-end: 10px;
    padding: 2px;

    background: var(--md-sys-color-outline);
  }
}

ol {
  padding-inline-start: 20px;
}

.content-container {
  display: flex;

  align-items: stretch;
  flex-direction: column;

  margin: 12px 10px 0 94px;
  padding-block-end: 40px;

  -webkit-animation: 1s cubic-bezier(0.4, 1.06, 0.55, 1.06) 1 normal both page-fade-in;
  animation: 1s cubic-bezier(0.4, 1.06, 0.55, 1.06) 1 normal both page-fade-in;
  overflow: hidden;
  z-index: 0;

  div.block {
    padding: 20px;
  }

  blockquote {
    margin: 10px;
    padding: 25px;

    color: var(--md-sys-color-on-tertiary-container);

    background-color: change-color($color: $md-sys-color-tertiary-container, $alpha: 0.2);

    border-radius: 12px;
  }

  code,
  .language-plaintext,
  .highlighter-rouge {
    padding: 0 4px;

    font-family: "Source Code Pro", monospace !important;

    background-color: #c7c7c74f;

    border-radius: 4px;
  }

  .content-header {
    display: grid;
    align-content: center;

    padding: 80px 64px;

    max-height: 480px;

    background-color: var(--md-sys-color-secondary-container);

    transition: 1s;
    clip-path: inset(0 round 26px);

    .header-container {
      display: flex;

      align-items: flex-start;
      flex-direction: column;
      gap: 6px;
      justify-content: center;

      width: 100%;

      #title {
        color: var(--md-sys-color-on-secondary-container);
        font-family: "Smiley Sans" !important;
        font-size: 100em;
        letter-spacing: 1px;
        line-height: 1em;
      }

      #subtitle {
        @extend .headline-small;
      }

      img {
        @extend .disable-select;

        width: 100%;

        position: absolute;

        top: 0;
        left: 0;

        -webkit-animation: 120s ease-in-out infinite normal header-img;
        -webkit-mask: linear-gradient(to right, transparent, #000);
        animation: 120s ease-in-out infinite normal header-img;
        mask: linear-gradient(to right, transparent, #000);
        z-index: -1;
      }

      h1,
      p {
        z-index: 1;
      }
    }

    &#large {
      padding: 180px 64px;

      .header-container {
        #title {
          font-size: 140em;
        }
      }
    }
  }

  .content-information {
    display: flex;

    flex-wrap: wrap;
    gap: 6px;
    justify-content: center;

    margin-top: 10px;
  }

  .content {
    margin: 5vh 10vw;

    a:hover,
    a:hover:not(.page-about) {
      text-decoration: underline;
    }

    img {
      max-width: 100%;
    }

    &#nothing {
      @extend [disabled];

      margin: 2vw;
      padding: 4vw;

      display: flex;

      align-items: center;
      flex-direction: column;
      gap: 20px;

      border-radius: 32px;
      border: 2px dashed var(--md-sys-color-outline);

      h1 {
        margin: 0;
      }

      h6 {
        margin: 0;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .content-header#large {
      padding: 140px 64px;

      .header-container {
        #title {
          font-size: 100em;
        }

        img {
          width: 150%;

          top: inherit;

          -webkit-animation: none;
          animation: none;
          opacity: 0.5;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    margin: 0 5vw;
    padding-block-end: calc(80px + 2vh);

    .content-header,
    .content-header#large {
      padding: 0;

      background-color: #00000000;

      border-radius: 0;

      clip-path: none;

      .header-container {
        padding-block-start: 50px;
        padding-block-end: 10px;

        #title {
          padding-inline-start: 5px;

          font-size: 70em;
        }

        #subtitle {
          padding-inline-start: 8px;
        }

        img {
          display: none;
        }
      }
    }

    .content {
      margin: 1vh 5vw;
    }
  }

  @media screen and (max-width: 425px) {
    .content-header,
    .content-header#large {
      .header-container {
        #title {
          font-size: 60em;
        }

        #subtitle {
          font-size: 20em;
        }
      }
    }
  }

  @media screen and (max-width: 375px) {
    .content-header,
    .content-header#large {
      .header-container {
        #title {
          font-size: 50em;
        }
      }
    }
  }
}

.footer-container {
  margin: 2vh 12vw;

  ul > li::before {
    display: none;
  }

  footer {
    display: flex;

    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: flex-start;

    section {
      display: flex;

      align-items: stretch;
      flex-direction: column;

      padding: 32px 32px 15px;

      width: 100%;

      border: 1px solid var(--md-sys-color-secondary);

      a {
        margin: 0 0 15px 0;
      }

      h3 {
        font-family: "Smiley Sans" !important;
        letter-spacing: 1px;
      }

      h3,
      h6,
      p {
        margin: 0;
        padding: 0;
      }

      &:nth-child(1) {
        border-radius: 32px 32px 6px 6px;
      }

      &:nth-child(2) {
        border-radius: 6px 6px 32px 32px;

        div {
          display: flex;

          align-items: center;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;

          margin-block-start: 10px;

          a {
            @extend .body-large;

            margin: 0;
          }
        }
      }

      img {
        width: 50px;

        -webkit-mask-image: url(/assets/images/mask.svg);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 100%;
        mask-image: url(/assets/images/mask.svg);
        mask-repeat: no-repeat;
        mask-size: 100%;
      }

      ul {
        display: flex;

        flex-direction: row;
        flex-wrap: wrap;

        margin-block-end: 0;
        margin-block-start: 10px;
        padding-inline-start: 0;

        a {
          margin: 0;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    margin: 2vh 0;
  }
}

.page-about {
  display: flex;

  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  material-card {
    max-width: 300px;

    .supporting-container {
      display: flex;
      justify-content: center;
    }

    img {
      max-width: 300px;
      width: calc(100% - 40px);

      -webkit-mask-image: url(/assets/images/mask.svg);
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: 100%;
      mask-image: url(/assets/images/mask.svg);
      mask-repeat: no-repeat;
      mask-size: 100%;
    }
  }
}

.page-components {
  div {
    & > h1 {
      margin-block-end: 0;
    }

    & > p {
      margin-block-start: 0;
    }
  }
}

.page-posts {
  display: flex;

  align-items: flex-start;
  flex-direction: row;
  justify-content: center;

  material-card {
    padding: 10px;

    max-width: 40%;

    text-align: end;

    a {
      max-width: 30%;
    }
  }

  @media screen and (max-width: 768px) {
    material-card > a {
      max-width: 100%;
    }
  }
}
