// https://m3.material.io/components/navigation-bar/
.material-navigation-bar {
  display: flex;

  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;

  bottom: 0;

  height: 80px;
  width: 100%;

  background: var(--md-sys-color-surface);

  animation: fade 0.4s;
  overflow-y: hidden;
  z-index: 100;

  .destinations {
    display: flex;

    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    margin: 12px 8px 16px 8px;

    position: static;

    left: 0;
    top: calc(50% - 426px / 2 - 45px);

    width: 100%;

    a {
      text-decoration: none;
    }

    #segment-active {
      display: flex;

      align-items: center;
      align-self: stretch;
      flex-direction: column;

      margin: 0 4px 0 4px;
      padding: 0;

      position: static;

      left: 5px;
      top: 5px;

      height: 56px;
      width: 70px;

      #accent {
        display: flex;

        align-items: center;
        justify-content: center;

        margin: 0 0 4px 0;

        position: static;

        bottom: 42.86%;
        left: 10%;
        right: 10%;
        top: 0;

        height: 32px;
        width: 64px;

        background: var(--md-sys-color-secondary-container);

        border-radius: 100px;

        #segment-primary-icon {
          position: absolute;

          height: 24px;
          width: 24px;

          color: var(--md-sys-color-on-secondary-container);

          transition: 0.3s;

          #segment-icon {
            height: 24px;
            width: 24px;
          }
        }
      }

      #label {
        margin: 0;

        position: static;

        bottom: 7.14%;
        left: 10%;
        right: 10%;
        top: 64.29%;

        color: var(--md-sys-color-on-surface);
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.5px;
        line-height: 16px;
        text-align: center;
      }
    }

    #segment-inactive {
      @extend #segment-active;

      #accent {
        @extend #accent;
        height: 32px;
        width: 32px;

        background: none;

        transition: 0.3s cubic-bezier(0.08, 0.82, 0.17, 1);

        #segment-primary-icon {
          @extend #segment-primary-icon;

          #segment-icon {
            @extend #segment-icon;
          }
        }
      }

      &:hover {
        #accent {
          height: 32px;
          width: 64px;

          background: var(--md-sys-color-secondary-container);
        }
      }
    }
  }
}
