// https://m3.material.io/components/dialogs/
material-dialog {
  .container {
    display: flex;

    align-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 24px;
    justify-content: flex-start;

    min-height: 120px;
    min-width: 240px;
  }

  &[basic] {
    .container {
      padding: 24px;

      color: var(--md-sys-color-on-tertiary-container);

      background: var(--md-sys-color-tertiary-container);

      border-radius: 28px;

      div {
        h1 {
          @extend .headline-small;

          margin: 0 0 8px 0;
        }

        p {
          @extend .body-medium;

          margin: 8px 0 0 0;
        }
      }
    }
  }
}
