@media screen and (max-width: 768px) {
  html,
  body {
    ::-webkit-scrollbar {
      height: 2px;
      width: 2px;
    }
  }

  a {
    width: auto;
  }

  .content-grid {
    display: flex;
    flex-wrap: wrap;
  }

  .content-container {
    margin: 0;
    padding: 0 5vw 120px;

    &::before {
      display: none;
    }

    #content-header,
    #content-header[spec="large"] {
      padding: 0;

      border-radius: 0;

      background-color: #0000;

      clip-path: none;

      .header-container {
        padding-block-end: 10px;
        padding-block-start: 100px;

        #title {
          padding-inline-start: 5px;

          font-size: 70em;
        }

        #subtitle {
          padding-inline-start: 8px;
        }

        img {
          display: none;
        }
      }
    }

    #content {
      width: 80vw;

      section:nth-child(2) {
        h1,
        h2 {
          &:target {
            padding-top: 84px;
          }
        }
      }
    }

    #footer-container {
      hr {
        width: 100%;
      }

      footer {
        margin: 0;
      }
    }
  }

  .right-corner-fabs {
    bottom: 100px;
  }

  .mnd {
    top: 64px;

    height: calc(100% - 144px);

    &[show] {
      left: 0px;
    }
  }

  .mtb {
    top: 0;

    visibility: visible;
  }
}
