@media screen and (max-width: 425px) {
  .content-container {
    #content-header,
    #content-header[spec="large"] {
      .header-container {
        #title {
          font-size: 60em;
        }

        #subtitle {
          font-size: 20em;
        }
      }
    }

    #content {
      width: 85vw;
    }
  }

  .page-about .mcd {
    max-width: 100%;
  }
}
