code.language-plaintext,
table code {
  padding: 0 8px;

  border-radius: 10px;

  background-color: var(--md-sys-color-primary-container);

  font-family: "Source Code Pro", monospace;
  line-height: 1.5;
}

.highlighter-rouge {
  code {
    font-family: "Source Code Pro", monospace;
    font-size: 15em;
  }
}

.highlight {
  color: #ffffff;
  background-color: #1c1e1e;

  .gh {
    color: #999999;
  }

  .sr,
  .gs {
    color: #f6aa11;
  }

  .go {
    color: #888888;
  }

  .gp {
    color: #555555;
  }

  gu {
    color: #aaaaaa;
  }

  .nb {
    color: #f6aa11;
  }

  .c,
  .c1,
  .cd,
  .ch,
  .cp,
  .cpf,
  .cs,
  cm {
    color: #59574d;
  }

  .err,
  .gr,
  .gt {
    color: #b80e0e;
  }

  .gd,
  .ge,
  .gi {
    color: #49483e;
  }

  .kc,
  .kd,
  .kr,
  .kt,
  .no {
    color: #00d3ff;
  }

  .il,
  .m,
  .mb,
  .mf,
  .mh,
  .mi,
  .mo,
  .mx,
  .sc,
  .se,
  .ss {
    color: #ae81ff;
  }

  .dl,
  .s,
  .s1,
  .s2,
  .sa,
  .sb,
  .sd,
  .sh,
  .si,
  .sx {
    color: #ecffaf;
  }

  .fm,
  .na,
  .nc,
  .nd,
  .ne,
  .nf {
    color: #ecff00;
  }

  .bp,
  .n,
  .ni,
  .nl,
  .nn,
  .nv,
  .nx,
  .py,
  .vc,
  .vg,
  .vi,
  .vm,
  .w {
    color: #ffffff;
  }

  .k,
  .kn,
  .kp,
  .kv,
  .nt,
  .o,
  .ow {
    color: #ff6549;
  }
}
