@media screen and (max-width: 1024px) {
  .content-container {
    #content-header[spec="large"] {
      padding: 140px 64px;

      .header-container > #title {
        font-size: 100em;
        word-break: keep-all;

        img {
          top: inherit;

          animation: none;
          opacity: 0.5;
        }
      }
    }

    #content {
      width: 70vw;
    }

    #footer-container {
      hr {
        width: 90%;
      }

      footer {
        margin: 0 8vw;
      }
    }
  }

  .page-404 {
    h1 {
      font-size: 8vh !important;
    }
  }
}
