:root {
  --md-sys-color-background-dark: #000000;
  --md-sys-color-background-light: #ffffff;
  --md-sys-color-error-container-dark: #000000;
  --md-sys-color-error-container-light: #ffffff;
  --md-sys-color-error-dark: #000000;
  --md-sys-color-error-light: #000000;
  --md-sys-color-inverse-on-surface-dark: #000000;
  --md-sys-color-inverse-on-surface-light: #ffffff;
  --md-sys-color-inverse-primary-dark: #000000;
  --md-sys-color-inverse-primary-light: #000000;
  --md-sys-color-inverse-surface-dark: #ffffff;
  --md-sys-color-inverse-surface-light: #000000;
  --md-sys-color-on-background-dark: #ffffff;
  --md-sys-color-on-background-light: #000000;
  --md-sys-color-on-error-container-dark: #ffffff;
  --md-sys-color-on-error-container-light: #000000;
  --md-sys-color-on-error-dark: #000000;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-primary-container-dark: #ffffff;
  --md-sys-color-on-primary-container-light: #000000;
  --md-sys-color-on-primary-dark: #000000;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-on-secondary-container-dark: #ffffff;
  --md-sys-color-on-secondary-container-light: #000000;
  --md-sys-color-on-secondary-dark: #000000;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-on-surface-dark: #ffffff;
  --md-sys-color-on-surface-light: #000000;
  --md-sys-color-on-surface-variant-dark: #ffffff;
  --md-sys-color-on-surface-variant-light: #000000;
  --md-sys-color-on-tertiary-container-dark: #ffffff;
  --md-sys-color-on-tertiary-container-light: #000000;
  --md-sys-color-on-tertiary-dark: #000000;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-outline-dark: #ffffff;
  --md-sys-color-outline-light: #000000;
  --md-sys-color-primary-container-dark: #000000;
  --md-sys-color-primary-container-light: #ffffff;
  --md-sys-color-primary-dark: #ffffff;
  --md-sys-color-primary-light: #000000;
  --md-sys-color-secondary-container-dark: #000000;
  --md-sys-color-secondary-container-light: #ffffff;
  --md-sys-color-secondary-dark: #ffffff;
  --md-sys-color-secondary-light: #000000;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-dark: #000000;
  --md-sys-color-surface-light: #ffffff;
  --md-sys-color-surface-tint-color-dark: #ffffff;
  --md-sys-color-surface-tint-color-light: #000000;
  --md-sys-color-surface-tint-dark: #ffffff;
  --md-sys-color-surface-tint-light: #000000;
  --md-sys-color-surface-variant-dark: #000000;
  --md-sys-color-surface-variant-light: #ffffff;
  --md-sys-color-tertiary-container-dark: #000000;
  --md-sys-color-tertiary-container-light: #ffffff;
  --md-sys-color-tertiary-dark: #ffffff;
  --md-sys-color-tertiary-light: #000000;
  --md-sys-typescale-body-large-family: Google Sans Text;
  --md-sys-typescale-body-large-size: 16rem;
  --md-sys-typescale-body-large-weight: Regular;
  --md-sys-typescale-body-medium-family: Google Sans Text;
  --md-sys-typescale-body-medium-size: 14rem;
  --md-sys-typescale-body-medium-weight: Regular;
  --md-sys-typescale-body-small-family: Google Sans Text;
  --md-sys-typescale-body-small-size: 12rem;
  --md-sys-typescale-body-small-weight: Regular;
  --md-sys-typescale-display-large-family: Google Sans;
  --md-sys-typescale-display-large-size: 57rem;
  --md-sys-typescale-display-large-weight: Regular;
  --md-sys-typescale-display-medium-family: Google Sans;
  --md-sys-typescale-display-medium-size: 45rem;
  --md-sys-typescale-display-medium-weight: Regular;
  --md-sys-typescale-display-small-family: Google Sans;
  --md-sys-typescale-display-small-size: 36rem;
  --md-sys-typescale-display-small-weight: Regular;
  --md-sys-typescale-headline-large-family: Google Sans;
  --md-sys-typescale-headline-large-size: 32rem;
  --md-sys-typescale-headline-large-weight: Regular;
  --md-sys-typescale-headline-medium-family: Google Sans;
  --md-sys-typescale-headline-medium-size: 28rem;
  --md-sys-typescale-headline-medium-weight: Regular;
  --md-sys-typescale-headline-small-family: Google Sans;
  --md-sys-typescale-headline-small-size: 24rem;
  --md-sys-typescale-headline-small-weight: Regular;
  --md-sys-typescale-label-large-family: Google Sans Text;
  --md-sys-typescale-label-large-size: 14rem;
  --md-sys-typescale-label-large-weight: Medium;
  --md-sys-typescale-label-medium-family: Google Sans Text;
  --md-sys-typescale-label-medium-size: 12rem;
  --md-sys-typescale-label-medium-weight: Medium;
  --md-sys-typescale-label-small-family: Google Sans Text;
  --md-sys-typescale-label-small-size: 11rem;
  --md-sys-typescale-label-small-weight: Medium;
  --md-sys-typescale-title-large-family: Google Sans;
  --md-sys-typescale-title-large-size: 22rem;
  --md-sys-typescale-title-large-weight: Regular;
  --md-sys-typescale-title-medium-family: Google Sans Text;
  --md-sys-typescale-title-medium-size: 16rem;
  --md-sys-typescale-title-medium-weight: Medium;
  --md-sys-typescale-title-small-family: Google Sans Text;
  --md-sys-typescale-title-small-size: 14rem;
  --md-sys-typescale-title-small-weight: Medium;
}
