html,
body {
  --md-ref-palette-primary10: #410000;
  --md-ref-palette-primary20: #690001;
  --md-ref-palette-primary30: #930003;
  --md-ref-palette-primary40: #be0b0a;
  --md-ref-palette-primary80: #ffb4a9;
  --md-ref-palette-primary90: #ffdad5;
  --md-ref-palette-primary100: #ffffff;
  --md-ref-palette-secondary10: #2c1512;
  --md-ref-palette-secondary20: #442926;
  --md-ref-palette-secondary30: #5d3f3b;
  --md-ref-palette-secondary40: #775652;
  --md-ref-palette-secondary80: #e7bdb6;
  --md-ref-palette-secondary90: #ffdad5;
  --md-ref-palette-secondary100: #ffffff;
  --md-ref-palette-tertiary10: #251a00;
  --md-ref-palette-tertiary20: #3e2e04;
  --md-ref-palette-tertiary30: #574419;
  --md-ref-palette-tertiary40: #705c2e;
  --md-ref-palette-tertiary80: #dec38c;
  --md-ref-palette-tertiary90: #fcdfa6;
  --md-ref-palette-tertiary100: #ffffff;
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral6: #181211;
  --md-ref-palette-neutral10: #201a19;
  --md-ref-palette-neutral12: #251e1d;
  --md-ref-palette-neutral17: #2f2827;
  --md-ref-palette-neutral20: #362f2e;
  --md-ref-palette-neutral22: #3b3332;
  --md-ref-palette-neutral90: #ede0de;
  --md-ref-palette-neutral92: #f3e5e3;
  --md-ref-palette-neutral94: #f8ebe9;
  --md-ref-palette-neutral95: #fbeeec;
  --md-ref-palette-neutral96: #fef1ee;
  --md-ref-palette-neutral98: #fff8f7;
  --md-ref-palette-neutral-variant30: #534341;
  --md-ref-palette-neutral-variant50: #857370;
  --md-ref-palette-neutral-variant60: #a08c89;
  --md-ref-palette-neutral-variant80: #d8c2be;
  --md-ref-palette-neutral-variant90: #f5ddda;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error100: #ffffff;

  --md-sys-typescale-body-large-family: "Google Sans Text", "Noto Sans SC", sans-serif;
  --md-sys-typescale-body-large-size: 16rem;
  --md-sys-typescale-body-large-weight: Regular;
  --md-sys-typescale-body-medium-family: "Google Sans Text", "Noto Sans SC", sans-serif;
  --md-sys-typescale-body-medium-size: 14rem;
  --md-sys-typescale-body-medium-weight: Regular;
  --md-sys-typescale-body-small-family: "Google Sans Text", "Noto Sans SC", sans-serif;
  --md-sys-typescale-body-small-size: 12rem;
  --md-sys-typescale-body-small-weight: Regular;
  --md-sys-typescale-display-large-family: "Google Sans", "Noto Sans SC", sans-serif;
  --md-sys-typescale-display-large-size: 57rem;
  --md-sys-typescale-display-large-weight: Medium;
  --md-sys-typescale-display-medium-family: "Google Sans", "Noto Sans SC", sans-serif;
  --md-sys-typescale-display-medium-size: 45rem;
  --md-sys-typescale-display-medium-weight: Medium;
  --md-sys-typescale-display-small-family: "Google Sans", "Noto Sans SC", sans-serif;
  --md-sys-typescale-display-small-size: 36rem;
  --md-sys-typescale-display-small-weight: Medium;
  --md-sys-typescale-headline-large-family: "Google Sans", "Noto Sans SC", sans-serif;
  --md-sys-typescale-headline-large-size: 32rem;
  --md-sys-typescale-headline-large-weight: Medium;
  --md-sys-typescale-headline-medium-family: "Google Sans", "Noto Sans SC", sans-serif;
  --md-sys-typescale-headline-medium-size: 28rem;
  --md-sys-typescale-headline-medium-weight: Medium;
  --md-sys-typescale-headline-small-family: "Google Sans", "Noto Sans SC", sans-serif;
  --md-sys-typescale-headline-small-size: 24rem;
  --md-sys-typescale-headline-small-weight: Medium;
  --md-sys-typescale-label-large-family: "Google Sans Text", "Noto Sans SC", sans-serif;
  --md-sys-typescale-label-large-size: 14rem;
  --md-sys-typescale-label-large-weight: Medium;
  --md-sys-typescale-label-medium-family: "Google Sans Text", "Noto Sans SC", sans-serif;
  --md-sys-typescale-label-medium-size: 12rem;
  --md-sys-typescale-label-medium-weight: Medium;
  --md-sys-typescale-label-small-family: "Google Sans Text", "Noto Sans SC", sans-serif;
  --md-sys-typescale-label-small-size: 11rem;
  --md-sys-typescale-label-small-weight: Medium;
  --md-sys-typescale-title-large-family: "Google Sans", "Noto Sans SC", sans-serif;
  --md-sys-typescale-title-large-size: 22rem;
  --md-sys-typescale-title-large-weight: Regular;
  --md-sys-typescale-title-medium-family: "Google Sans Text", "Noto Sans SC", sans-serif;
  --md-sys-typescale-title-medium-size: 16rem;
  --md-sys-typescale-title-medium-weight: Medium;
  --md-sys-typescale-title-small-family: "Google Sans Text", "Noto Sans SC", sans-serif;
  --md-sys-typescale-title-small-size: 14rem;
  --md-sys-typescale-title-small-weight: Medium;
  --md-sys-state-dragged-state-layer-opacity: 0.16;
  --md-sys-state-focus-state-layer-opacity: 0.12;
  --md-sys-state-hover-state-layer-opacity: 0.08;
  --md-sys-state-pressed-state-layer-opacity: 0.12;

  --md-sys-motion-duration-short1: 50ms;
  --md-sys-motion-duration-short2: 100ms;
  --md-sys-motion-duration-short3: 150ms;
  --md-sys-motion-duration-short4: 200ms;
  --md-sys-motion-duration-medium1: 250ms;
  --md-sys-motion-duration-medium2: 300ms;
  --md-sys-motion-duration-medium3: 350ms;
  --md-sys-motion-duration-medium4: 400ms;
  --md-sys-motion-duration-long1: 450ms;
  --md-sys-motion-duration-long2: 500ms;
  --md-sys-motion-duration-long3: 550ms;
  --md-sys-motion-duration-long4: 600ms;
  --md-sys-motion-duration-extra-long1: 700ms;
  --md-sys-motion-duration-extra-long2: 800ms;
  --md-sys-motion-duration-extra-long3: 900ms;
  --md-sys-motion-duration-extra-long4: 1000ms;

  --md-sys-motion-easing-liner: cubic-bezier(0, 0, 1, 1);
  --md-sys-motion-easing-standard: cubic-bezier(0.2, 0, 0, 1);
  --md-sys-motion-easing-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);
  --md-sys-motion-easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);
  --md-sys-motion-easing-emphasized: cubic-bezier(0.2, 0, 0, 1);
  --md-sys-motion-easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
  --md-sys-motion-easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
  --md-sys-motion-easing-legacy: cubic-bezier(0.4, 0, 0.2, 1);
  --md-sys-motion-easing-legacy-accelerate: cubic-bezier(0.4, 0, 1, 1);
  --md-sys-motion-easing-legacy-decelerate: cubic-bezier(0, 0, 0.2, 1);

  --md-sys-elevation-level1-dark: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-level2-dark: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-level3-dark: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-level4-dark: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-level5-dark: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-level1-light: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --md-sys-elevation-level2-light: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --md-sys-elevation-level3-light: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-level4-light: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-level5-light: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
}
