// https://m3.material.io/components/top-app-bar/
// 移动端标题栏

.JTM-C-AppBar {
  @extend .disable-select;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 6px;
  justify-content: space-between;

  height: 64px;
  width: 100%;

  padding: 8px 4px;

  position: fixed;
  top: -64px;

  letter-spacing: 0;

  overflow: hidden;
  transition: var(--md-sys-motion-duration-long1) var(--md-sys-motion-easing-standard);
  visibility: hidden;
  z-index: 15;

  @media (prefers-color-scheme: light) {
    background-color: var(--md-sys-color-surface-bright);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--md-sys-color-surface-dim);
  }

  #JTM-C-AppBar-DynamicTitle {
    @include title-large();

    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

    height: 100%;

    margin: auto;

    text-align: start;

    span {
      width: calc(100% - 100px);

      position: absolute;

      line-height: 1;
      text-overflow: ellipsis;
      white-space: nowrap;

      overflow: hidden;
      transition: var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-emphasized);

      &:nth-child(1) {
        transform: translateY(0px);
        opacity: 1;
      }

      &:nth-child(2) {
        transform: translateY(45px);
        opacity: 0;
      }
    }
  }

  &[scroll="true"] {
    #JTM-C-AppBar-DynamicTitle {
      span {
        &:nth-child(1) {
          transform: translateY(-45px);
          opacity: 0;
        }

        &:nth-child(2) {
          transform: translateY(0px);
          opacity: 1;
        }
      }
    }
  }
}
