// https://m3.material.io/components/chips/
// 面包屑

button.JTM-C-Chip {
  @include label-large();
  @extend .disable-select;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  height: 32px;
  width: max-content;

  padding-inline: 16px;

  position: relative;

  color: var(--md-sys-color-on-surface);
  letter-spacing: 0;

  border-radius: 8px;
  border: 1px solid var(--md-sys-color-outline);

  background: none;

  box-shadow: none;
  cursor: pointer;
  overflow: hidden;
  transition: var(--md-sys-motion-duration-medium4);

  &[icon] {
    gap: 8px;

    padding-inline-start: 8px;
    padding-inline-end: 16px;

    span {
      @include material-symbols($size: 18px);

      height: 18px;
      width: 18px;

      color: var(--md-sys-color-primary);
      line-height: 18px;
    }
  }

  &::after {
    content: "";

    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;

    opacity: 0;
    transition: var(--md-sys-motion-duration-medium4);
  }

  &:hover::after {
    background-color: var(--md-sys-color-on-surface);

    transition: var(--md-sys-motion-duration-short4);
    opacity: var(--md-sys-state-hover-state-layer-opacity);
  }

  &:focus::after {
    background-color: var(--md-sys-color-on-surface);

    transition: var(--md-sys-motion-duration-short4);
    opacity: var(--md-sys-state-focus-state-layer-opacity);
  }

  &:active::after {
    background-color: var(--md-sys-color-on-surface);

    transition: var(--md-sys-motion-duration-short4);
    opacity: var(--md-sys-state-pressed-state-layer-opacity);
  }

  &[container="elevated"] {
    color: var(--md-sys-color-on-surface);

    border: none;

    background-color: var(--md-sys-color-surface);

    box-shadow: var(--md-sys-elevation-level1);

    &:hover::after {
      background-color: var(--md-sys-color-on-surface);
      box-shadow: var(--md-sys-elevation-level2);
    }

    &:focus::after {
      background-color: var(--md-sys-color-on-surface);
      box-shadow: var(--md-sys-elevation-level1);
    }

    &:active::after {
      background-color: var(--md-sys-color-on-surface);
      box-shadow: var(--md-sys-elevation-level1);
    }
  }
}
