// 代码

code,
figure.highlight {
  font-family: "Source Code Pro", monospace;
}

figure {
  @include typescale-style("body-large");

  margin-block: 0;

  pre {
    margin: 0;
    padding: 12px;

    border-radius: var(--md-sys-shape-corner-large);

    background-color: #272822;
  }
}

code.language-plaintext {
  display: inline-block;

  padding-inline: 3px;

  color: var(--md-sys-color-inverse-surface);
  text-indent: initial;
  word-break: break-word;

  border-radius: var(--md-sys-shape-corner-extra-small);

  background-color: var(--md-sys-color-inverse-on-surface);

  &::selection {
    color: var(--md-sys-color-tertiary);

    background-color: var(--md-sys-color-on-tertiary);
  }
}

div.language-plaintext.highlighter-rouge {
  @include JTM-E-UserSelect(text);

  background-color: unset;
}

div.highlighter-rouge {
  display: inline-block;

  position: relative;

  min-height: 46px;
  width: 100%;

  margin-block: 6px 3px;

  color: var(--md-ref-palette-neutral98);
  word-break: break-word;

  border-radius: var(--md-sys-shape-corner-medium);

  overflow: hidden;

  div.highlight pre.highlight {
    margin: 0;

    code {
      display: block;

      min-height: 46px;

      line-height: 0;

      .rouge-table {
        max-width: unset;
        width: 100%;

        margin-inline: 0;

        border-radius: var(--md-sys-shape-corner-none);
        border: none;

        box-shadow: none;

        .rouge-gutter {
          position: absolute;
          left: 0;

          width: 35px;

          padding-block: 11px;
          padding-inline: 12px;

          background-color: #272822;

          z-index: 12;

          @media (prefers-color-scheme: light) {
            box-shadow: 2px 0px 0px 0px var(--md-sys-color-surface-bright);
          }

          @media (prefers-color-scheme: dark) {
            box-shadow: 2px 0px 0px 0px var(--md-sys-color-surface-dim);
          }

          .lineno {
            @include JTM-E-UserSelect();

            margin: 0;

            font-family: "Source Code Pro", monospace;
            letter-spacing: 0;
            text-align: center;
          }
        }

        .rouge-code {
          position: relative;

          padding-block: 11px;
          padding-inline: 46px 12px;

          border-radius: var(--md-sys-shape-corner-large-end);
          border: none;

          background-color: #272822;

          z-index: 11;

          pre {
            margin: 0;

            font-family: "Source Code Pro", monospace;
            letter-spacing: 0;
            line-height: 24px;
          }
        }
      }
    }
  }
}

.highlight,
figure code {
  .hll {
    background-color: #272822;
  }
  .c {
    color: #75715e;
  } /* Comment */
  .err {
    color: #960050;
    background-color: #1e0010;
  } /* Error */
  .k {
    color: #66d9ef;
  } /* Keyword */
  .l {
    color: #ae81ff;
  } /* Literal */
  .n {
    color: #f8f8f2;
  } /* Name */
  .o {
    color: #f92672;
  } /* Operator */
  .p {
    color: #f8f8f2;
  } /* Punctuation */
  .cm {
    color: #75715e;
  } /* Comment.Multiline */
  .cp {
    color: #75715e;
  } /* Comment.Preproc */
  .c1 {
    color: #75715e;
  } /* Comment.Single */
  .cs {
    color: #75715e;
  } /* Comment.Special */
  .ge {
    font-style: italic;
  } /* Generic.Emph */
  .gs {
    font-weight: bold;
  } /* Generic.Strong */
  .kc {
    color: #66d9ef;
  } /* Keyword.Constant */
  .kd {
    color: #66d9ef;
  } /* Keyword.Declaration */
  .kn {
    color: #f92672;
  } /* Keyword.Namespace */
  .kp {
    color: #66d9ef;
  } /* Keyword.Pseudo */
  .kr {
    color: #66d9ef;
  } /* Keyword.Reserved */
  .kt {
    color: #66d9ef;
  } /* Keyword.Type */
  .ld {
    color: #e6db74;
  } /* Literal.Date */
  .m {
    color: #ae81ff;
  } /* Literal.Number */
  .s {
    color: #e6db74;
  } /* Literal.String */
  .na {
    color: #a6e22e;
  } /* Name.Attribute */
  .nb {
    color: #f8f8f2;
  } /* Name.Builtin */
  .nc {
    color: #a6e22e;
  } /* Name.Class */
  .no {
    color: #66d9ef;
  } /* Name.Constant */
  .nd {
    color: #a6e22e;
  } /* Name.Decorator */
  .ni {
    color: #f8f8f2;
  } /* Name.Entity */
  .ne {
    color: #a6e22e;
  } /* Name.Exception */
  .nf {
    color: #a6e22e;
  } /* Name.Function */
  .nl {
    color: #f8f8f2;
  } /* Name.Label */
  .nn {
    color: #f8f8f2;
  } /* Name.Namespace */
  .nx {
    color: #a6e22e;
  } /* Name.Other */
  .py {
    color: #f8f8f2;
  } /* Name.Property */
  .nt {
    color: #f92672;
  } /* Name.Tag */
  .nv {
    color: #f8f8f2;
  } /* Name.Variable */
  .ow {
    color: #f92672;
  } /* Operator.Word */
  .w {
    color: #f8f8f2;
  } /* Text.Whitespace */
  .mf {
    color: #ae81ff;
  } /* Literal.Number.Float */
  .mh {
    color: #ae81ff;
  } /* Literal.Number.Hex */
  .mi {
    color: #ae81ff;
  } /* Literal.Number.Integer */
  .mo {
    color: #ae81ff;
  } /* Literal.Number.Oct */
  .sb {
    color: #e6db74;
  } /* Literal.String.Backtick */
  .sc {
    color: #e6db74;
  } /* Literal.String.Char */
  .sd {
    color: #e6db74;
  } /* Literal.String.Doc */
  .s2 {
    color: #e6db74;
  } /* Literal.String.Double */
  .se {
    color: #ae81ff;
  } /* Literal.String.Escape */
  .sh {
    color: #e6db74;
  } /* Literal.String.Heredoc */
  .si {
    color: #e6db74;
  } /* Literal.String.Interpol */
  .sx {
    color: #e6db74;
  } /* Literal.String.Other */
  .sr {
    color: #e6db74;
  } /* Literal.String.Regex */
  .s1 {
    color: #e6db74;
  } /* Literal.String.Single */
  .ss {
    color: #e6db74;
  } /* Literal.String.Symbol */
  .bp {
    color: #f8f8f2;
  } /* Name.Builtin.Pseudo */
  .vc {
    color: #f8f8f2;
  } /* Name.Variable.Class */
  .vg {
    color: #f8f8f2;
  } /* Name.Variable.Global */
  .vi {
    color: #f8f8f2;
  } /* Name.Variable.Instance */
  .il {
    color: #ae81ff;
  } /* Literal.Number.Integer.Long */
  .gu {
    color: #75715e;
  } /* Generic.Subheading & Diff Unified/Comment? */
  .gd {
    color: #f92672;
  } /* Generic.Deleted & Diff Deleted */
  .gi {
    color: #a6e22e;
  } /* Generic.Inserted & Diff Inserted */
}
