// https://m3.material.io/components/dialogs/
// 对话

.JTM-C-Dialog {
  &[open] {
    @include JTM-E-UserSelect();

    max-width: 560px;
    min-width: 280px;

    padding: 24px;

    border-radius: var(--md-sys-shape-corner-extra-large);
    border: none;

    background-color: var(--md-sys-color-surface);

    box-shadow: var(--md-sys-elevation-level3);

    &::backdrop {
      background-color: transparent;
    }

    .JTM-C-Dialog-Buttons {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      gap: 8px;
      justify-content: flex-start;
    }

    .JTM-C-Dialog-ContentLayout {
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      margin-bottom: 24px;

      color: var(--md-sys-color-on-surface-variant);

      .JTM-C-Dialog-Headline {
        margin-bottom: 16px;

        color: var(--md-sys-color-on-surface);
      }

      .JTM-C-Dialog-SupportingText {
        margin-bottom: 24px;
      }

      .JTM-C-Dialog-SupportingList {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 12px;

        width: 100%;

        .JTM-C-Dialog-TipItems {
          display: grid;
          align-items: center;
          gap: 12px;
          grid-template-columns: auto auto;
        }
      }
    }

    &[icon] {
      .JTM-C-Dialog-ContentLayout {
        align-items: center;

        .JTM-C-Dialog-LeaderIcon {
          @include material-symbols($size: 24);

          margin-bottom: 16px;
        }
      }
    }
  }
}
