// https://m3.material.io/components/icon-buttons/
// 图标按钮

.JTM-C-IconButton,
button.JTM-C-IconButton {
  @include material-symbols($size: 24);

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  height: 40px;
  width: 40px;

  border-radius: var(--md-sys-shape-corner-full);
  border: none;

  cursor: pointer;
  overflow: hidden;
  transition: var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-standard);

  &::after {
    content: "";

    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;

    opacity: 0;
    transition: var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-standard);
  }

  &:hover::after {
    opacity: var(--md-sys-state-hover-state-layer-opacity);
    transition: var(--md-sys-motion-duration-short4) var(--md-sys-motion-easing-standard);
  }

  &:focus::after {
    opacity: var(--md-sys-state-focus-state-layer-opacity);
    transition: var(--md-sys-motion-duration-short4) var(--md-sys-motion-easing-standard);
  }

  &:active::after {
    opacity: var(--md-sys-state-pressed-state-layer-opacity);
    transition: var(--md-sys-motion-duration-short4) var(--md-sys-motion-easing-standard);
  }

  &,
  &[spec="standard"] {
    color: var(--md-sys-color-on-surface-variant);

    background-color: transparent;

    &:hover::after,
    &:focus::after,
    &:active::after {
      background-color: var(--md-sys-color-on-surface-variant);
    }
  }

  &[spec="filled"] {
    color: var(--md-sys-color-on-primary);

    background-color: var(--md-sys-color-primary);

    &:hover::after,
    &:focus::after,
    &:active::after {
      background-color: var(--md-sys-color-on-primary);
    }
  }

  &[spec="tonal"] {
    color: var(--md-sys-color-on-secondary-container);

    background-color: var(--md-sys-color-secondary-container);

    &:hover {
      &::after {
        background-color: var(--md-sys-color-on-secondary-container);
      }

      box-shadow: var(--md-sys-elevation-level1);
    }

    &:focus::after,
    &:active::after {
      background-color: var(--md-sys-color-on-secondary-container);
    }
  }

  &[spec="outlined"] {
    color: var(--md-sys-color-primary);

    background: none;

    border: 1px solid var(--md-sys-color-outline);

    &:hover::after,
    &:focus::after,
    &:active::after {
      background-color: var(--md-sys-color-primary);
    }
  }
}
