// 展开的侧边栏

.JTM-C-NavigationDrawer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  height: 100%;
  width: 10px;

  position: fixed;
  top: 0;
  left: 80px;

  letter-spacing: 0;
  white-space: nowrap;

  border-left: 1px solid var(--md-sys-color-surface-container-high);
  border-radius: 0 12px 12px 0;

  background-color: var(--md-sys-color-surface-container-low);

  opacity: 0;
  transition: visibility var(--md-sys-motion-duration-medium2), opacity 0.29s,
    width var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-emphasized),
    height var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-emphasized),
    top var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-emphasized);
  visibility: hidden;
  z-index: 21;

  #JTM-C-NavigationDrawer-MenuCloseIcon {
    display: none;
  }

  #JTM-C-NavigationDrawer-Section {
    padding: 10px;

    overflow: auto;

    &::-webkit-scrollbar {
      width: 2px;
    }
  }

  &[show] {
    width: 240px;

    opacity: 1;
    transition: visibility 0.01s, opacity 0.29s, width var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-emphasized),
      height var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-emphasized),
      top var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-emphasized);
    visibility: visible;
  }

  a,
  p {
    display: block;

    width: 100%;

    margin: 0;
    padding: 0px 8px 0px 16px;

    line-height: 48px;
    text-overflow: ellipsis;
  }

  & > ul > li > a {
    font-weight: bold;
  }

  ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    width: 100%;

    margin: 0;
    padding: 0;

    list-style: none;

    .JTM-C-NavigationDrawer-Entry {
      width: 100%;
    }

    .JTM-C-NavigationDrawer-h1 {
      a:hover {
        background-color: var(--md-sys-color-secondary-container);
      }
    }

    .JTM-C-NavigationDrawer-h2 {
      padding: 0px 8px 0px 20px;

      a:hover {
        padding: 0px 8px 0px 24px;

        background-color: var(--md-sys-color-secondary-container);
      }
    }

    & > li > a {
      position: relative;

      border-radius: 100px;

      overflow: hidden;
      transition: 0.2s;
    }
  }

  li::before {
    display: none;
  }
}
