// https://m3.material.io/components/snackbar/overview
.JTM-C-Snackbar {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;

  position: fixed;
  bottom: 0;
  right: 50%;

  max-width: 480px;
  min-width: 240px;

  padding-inline: 16px 8px;

  background-color: var(--md-sys-color-inverse-surface);

  border-radius: var(--md-sys-shape-corner-extra-small);

  box-shadow: var(--md-sys-elevation-level3);
  opacity: 0;
  transform: translateX(50%);
  transition: var(--md-sys-motion-duration-long4) var(--md-sys-motion-easing-emphasized);
  z-index: 99;

  #JTM-C-Snackbar-Supporting {
    @include typescale-style("label-large");

    display: inline-block;

    padding-block: 14px;

    color: var(--md-sys-color-inverse-on-surface);
  }

  #JTM-C-Snackbar-Icon {
    min-width: 40px;

    color: var(--md-sys-color-inverse-on-surface);
  }

  &[visible="true"] {
    opacity: 1;
  }

  &[visible="false"] {
    opacity: 0;
  }
}
