// 表格

table {
  display: inline-block;

  max-width: max-content;
  width: 100%;

  border-collapse: collapse;
  border-radius: var(--md-sys-shape-corner-extra-large);

  box-shadow: 0 0 0 1px var(--md-sys-color-outline);
  overflow: auto;

  caption {
    @include typescale-style("title-medium", $font-weight: 700);

    padding: 16px 0;

    text-transform: uppercase;

    background-color: var(--md-sys-color-surface-variant);

    transition: background-color var(--md-sys-motion-duration-extra-long1) var(--md-sys-motion-easing-standard);
  }

  thead {
    @include typescale-style("body-large", $font-weight: 700);

    white-space: nowrap;

    tr {
      th {
        min-width: 10ch;

        padding: 16px 24px;

        text-transform: capitalize;

        border-left: 1px solid var(--md-sys-color-outline);
        border-top: 1px solid var(--md-sys-color-outline);

        background-color: var(--md-sys-color-surface-variant);

        transition: background-color var(--md-sys-motion-duration-extra-long1) var(--md-sys-motion-easing-standard);

        &:first-child {
          border-left: none;
        }

        &:empty {
          border-top: none;
        }
      }

      &:first-child > th {
        border-top: none;
      }

      &:first-child > th:last-child {
        border-right: none;
      }

      &:last-child {
        border-bottom: 1px solid var(--md-sys-color-outline);
      }
    }
  }

  tbody {
    @include typescale-style("body-large");

    img {
      max-width: 375px;
    }

    tr {
      vertical-align: top;

      td {
        padding: 16px 24px;

        vertical-align: inherit;

        border-left: 1px solid var(--md-sys-color-outline);
        border-top: 1px solid var(--md-sys-color-outline);

        code {
          white-space: nowrap;
        }

        &:first-child {
          border-left: none;
        }

        &:empty {
          border-top: none;
        }
      }

      &:first-child {
        td {
          border-top: none;

          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }
}
