.JTM-S-Carousel {
  height: 540px;

  margin-block: 12px;
  margin-inline: calc(25% - 152px);

  user-select: none;

  #JTM-S-Carousel-PostsList {
    display: flex;
    align-items: center;
    flex-direction: row;

    height: 100%;

    position: relative;

    .JTM-S-Carousel-Control {
      @include material-symbols($size: 18);

      height: 100%;
      width: 60px;

      position: absolute;

      padding: 0;

      color: var(--md-sys-color-on-surface-variant);

      border-radius: var(--md-sys-shape-corner-medium);
      border: none;

      background-color: var(--md-sys-color-surface-variant);

      cursor: pointer;
      opacity: 0;
      overflow: hidden;
      transition: var(--md-sys-motion-duration-short4) var(--md-sys-motion-easing-standard);
      z-index: 12;

      &:nth-of-type(1) {
        left: 0;
      }

      &:nth-of-type(2) {
        right: 0;
      }

      &:hover {
        opacity: 1;
      }

      &:active,
      &:focus {
        outline: none;

        opacity: 0.5;
      }
    }

    .JTM-S-Carousel-PostItem {
      flex-grow: 1;

      position: relative;

      height: 100%;

      margin-inline-end: 8px;

      border-radius: var(--md-sys-shape-corner-medium);
      border: 1px solid var(--md-sys-color-outline-variant);

      background-color: var(--md-sys-color-secondary-container);

      overflow: hidden;
      transition: var(--md-sys-motion-duration-long4) var(--md-sys-motion-easing-emphasized);

      JTM-E-Ripple {
        background-color: var(--md-sys-color-on-primary);
      }

      #JTM-S-Carousel-PostImpression {
        display: block;

        height: 100%;

        background: center/cover no-repeat var(--md-sys-color-secondary-container);

        transition: var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-standard);
      }

      #JTM-S-Carousel-PostInfo {
        @include typescale-style("display-large");

        position: absolute;
        bottom: 0;
        right: 0;

        width: 100%;

        padding-block: 80px 40px;
        padding-inline: 50px;

        color: var(--md-sys-color-on-surface);

        background: linear-gradient(transparent, var(--md-sys-color-secondary-container));

        overflow: hidden;
        pointer-events: none;
        transition: var(--md-sys-motion-duration-short4) var(--md-sys-motion-easing-standard);

        h1 {
          @include typescale-style("display-large");
        }

        .JTM-S-Carousel-PostInfo-FeaturedTip {
          display: flex;
          align-items: center;
          flex-wrap: nowrap;
          gap: 4px;

          width: max-content;

          padding: 2px 6px 2px 4px;

          color: var(--md-sys-color-inverse-on-surface);

          border-radius: var(--md-sys-shape-corner-extra-small);

          background-color: var(--md-sys-color-inverse-surface);

          #JTM-S-Carousel-PostInfo-FeaturedTip-Icon {
            @include material-symbols($size: 18);
          }
        }
      }

      &:hover {
        #JTM-S-Carousel-PostImpression {
          opacity: 0.5;
        }
      }

      &:focus,
      &:focus-visible {
        outline: 3px solid var(--md-sys-color-outline);
      }
    }

    &[data-scroll="1"] {
      .JTM-S-Carousel-PostItem {
        width: calc(100% - 68px);

        &:nth-of-type(1) {
          #JTM-S-Carousel-PostInfo {
            transition: var(--md-sys-motion-duration-long4) var(--md-sys-motion-easing-standard);
          }
        }

        &:nth-of-type(2) {
          width: 60px;

          margin-inline-end: 0;

          #JTM-S-Carousel-PostInfo {
            opacity: 0;
          }
        }

        &:nth-of-type(3),
        &:nth-of-type(4) {
          width: 0;

          margin-inline-end: 0;

          border: none;

          opacity: 0;

          #JTM-S-Carousel-PostInfo {
            opacity: 0;
          }
        }
      }
    }

    &[data-scroll="2"] {
      .JTM-S-Carousel-PostItem {
        &:nth-of-type(1),
        &:nth-of-type(4) {
          width: 0;

          margin-inline-end: 0;

          border: none;

          opacity: 0;

          #JTM-S-Carousel-PostInfo {
            opacity: 0;
          }
        }

        &:nth-of-type(2) {
          width: calc(100% - 68px);

          #JTM-S-Carousel-PostInfo {
            transition: var(--md-sys-motion-duration-long4) var(--md-sys-motion-easing-standard);
          }
        }

        &:nth-of-type(3) {
          width: 60px;

          margin-inline-end: 0;

          #JTM-S-Carousel-PostInfo {
            opacity: 0;
          }
        }
      }
    }

    &[data-scroll="3"] {
      .JTM-S-Carousel-PostItem {
        &:nth-of-type(1),
        &:nth-of-type(2) {
          width: 0;

          margin-inline-end: 0;

          border: none;

          opacity: 0;

          #JTM-S-Carousel-PostInfo {
            opacity: 0;
          }
        }

        &:nth-of-type(3) {
          width: calc(100% - 68px);

          #JTM-S-Carousel-PostInfo {
            transition: var(--md-sys-motion-duration-long4) var(--md-sys-motion-easing-standard);
          }
        }

        &:nth-of-type(4) {
          width: 60px;

          margin-inline-end: 0;

          #JTM-S-Carousel-PostInfo {
            opacity: 0;
          }
        }
      }
    }
  }
}
