.JTM-S-Footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-around;

  margin-block: 18px;
  margin-inline: calc(25% - 152px);

  color: var(--md-sys-color-on-surface-variant);

  a {
    text-decoration: none;
  }

  #JTM-S-Footer-Descriptions {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    padding-inline-start: 12px;

    h3 {
      letter-spacing: 0.2px;
      text-transform: uppercase;
    }
  }

  #JTM-S-Footer-Socialmedia {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 6px;
    justify-content: flex-end;

    .JTM-C-CommonButton {
      text-transform: capitalize;
    }
  }
}
