.JTM-S-LoadingSplash {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  justify-content: center;

  position: fixed;
  bottom: 0;
  right: 0;

  margin: 24px;
  padding: 18px;

  color: var(--md-sys-color-on-surface);

  border-radius: var(--md-sys-shape-corner-medium);

  background-color: var(--md-sys-color-surface-container-high);

  opacity: 1;
  transition: var(--md-sys-motion-duration-long1) var(--md-sys-motion-easing-standard);
  z-index: 100;
}
