.JTM-S-ScrollToTop {
  position: relative;

  opacity: 0;
  transition: var(--md-sys-motion-duration-medium4) var(--md-sys-motion-easing-standard);
  visibility: hidden;
  z-index: 21;

  #JTM-S-ScrollToTop-Desktop {
    @include material-symbols($size: 24);

    position: fixed;
    bottom: 0;
    right: 0;

    height: 66px;
    width: 66px;

    margin-block-end: calc(183px + 2vh);
    margin-inline-end: calc(25% - 240px);

    color: var(--md-sys-color-outline);

    border-radius: var(--md-sys-shape-corner-full);
    border: 1px solid var(--md-sys-color-outline-variant);

    background-color: var(--md-sys-color-surface-container-low);

    cursor: pointer;
    overflow: hidden;
  }

  #JTM-S-ScrollToTop-Mobile {
    display: none;

    position: fixed;
    bottom: 0;
    right: 0;

    margin-block-end: 35px;
    margin-inline-end: 30px;
  }
}
