.JTM-S-UniversalLayout {
  display: grid;
  grid-template-columns: 80px auto;

  height: 100%;

  .JTM-C-Navigation {
    grid-column: 1 / 2;
  }

  #JTM-S-UniversalLayout-ContentFlow {
    grid-column: 2 / 2;

    position: relative;

    width: 100%;

    padding-block: 40px 70px;

    background-color: var(--md-sys-color-surface-container-low);

    opacity: 0;
    overflow: overlay;
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
    transition: background-color var(--md-sys-motion-duration-extra-long1) var(--md-sys-motion-easing-standard),
      filter var(--md-sys-motion-duration-long1) var(--md-sys-motion-easing-standard),
      padding var(--md-sys-motion-duration-long4) var(--md-sys-motion-easing-emphasized),
      opacity var(--md-sys-motion-duration-short4) var(--md-sys-motion-easing-standard);

    #JTM-S-UniversalLayout-ContentFiller {
      margin-block: 24px 6px;
      margin-inline: calc(25% - 152px);

      &[spec="article"] {
        padding-block: 24px 12px;

        border-radius: var(--md-sys-shape-corner-large);

        background-color: var(--md-sys-color-surface-bright);

        @media (prefers-color-scheme: dark) {
          background-color: var(--md-sys-color-surface-dim);
        }

        div {
          a {
            text-decoration: none;
          }

          &.highlighter-rouge {
            width: calc(100% - 48px);
          }
        }

        p img.emoji {
          vertical-align: text-bottom;
        }

        p a,
        li a {
          display: inline-flex;

          position: relative;

          text-indent: initial;

          overflow: hidden;

          &::before {
            content: "";

            display: block;

            position: absolute;
            bottom: 0;

            width: 100%;
            height: 0%;

            background-color: var(--md-sys-color-primary);

            transition: var(--md-sys-motion-duration-short4) var(--md-sys-motion-easing-emphasized);
          }

          &:hover {
            text-decoration: none;

            &::before {
              height: 100%;

              opacity: 0.4;
            }
          }
        }

        & > {
          * {
            position: relative;

            margin-inline: 24px;
            padding-block-end: 12px;
          }

          h1,
          h2,
          h3,
          h4,
          h5,
          h6 {
            &::before {
              content: "";

              display: inline-block;

              position: absolute;
              left: -24px;

              height: calc(100% - 12px);
              width: 3px;

              background-color: var(--md-sys-color-surface-container-high);
            }
          }

          h1 {
            cursor: pointer;
            transition: var(--md-sys-motion-duration-short4) var(--md-sys-motion-easing-emphasized);

            &::before {
              transition: var(--md-sys-motion-duration-medium1) var(--md-sys-motion-easing-standard);
            }

            &:hover {
              font-weight: 500;

              &::before {
                width: 6px;
              }
            }

            &:active {
              font-weight: 300;

              &::before {
                width: 18px;
              }
            }
          }

          p {
            img {
              width: 100%;

              border-radius: var(--md-sys-shape-corner-small);
            }
          }

          blockquote {
            margin-block-end: 12px;
            margin-inline: 0;
            padding-block: 24px 12px;

            color: var(--md-sys-color-on-tertiary-container);

            background-color: var(--md-sys-color-inverse-on-surface);

            p {
              margin-inline: 24px;
              padding-block-end: 12px;
            }

            ul,
            ol {
              margin-inline: 24px;
              padding-block-end: 7px;
            }

            .task-list-item {
              margin: 0;

              &::before {
                display: none;
              }
            }
          }

          details {
            margin: 0.5vh 0;

            border-radius: var(--md-sys-shape-corner-small);

            overflow: hidden;
            transition: var(--md-sys-motion-duration-short4) var(--md-sys-motion-easing-standard);

            img {
              @include JTM-E-UserSelect();

              display: block;
            }

            summary {
              @include typescale-style("body-large");

              display: flex;
              align-items: center;
              flex-direction: row;
              flex-wrap: nowrap;
              gap: 12px;

              padding: 12px;

              cursor: pointer;
              list-style: none;
              transition: var(--md-sys-motion-duration-short4) var(--md-sys-motion-easing-emphasized);

              &::before {
                @include material-symbols("expand_more");

                transform: rotateZ(-90deg);
                transition: var(--md-sys-motion-duration-short4) var(--md-sys-motion-easing-emphasized);
              }
            }

            &:hover {
              background-color: var(--md-sys-color-inverse-on-surface);
            }

            &[open] {
              summary {
                &:focus-visible {
                  border-radius: var(--md-sys-shape-corner-extra-large-top);
                }

                &::before {
                  transform: rotateZ(0deg);
                }
              }

              border-radius: var(--md-sys-shape-corner-extra-large);
            }
          }

          table {
            margin-block-end: 12px;
            margin-inline: 24px;
            padding: 0;

            width: calc(100% - 48px);
          }
        }

        mjx-container {
          margin-inline: 10px;
        }

        [role="doc-noteref"] {
          display: inline-block;

          height: 25px;

          vertical-align: bottom;

          a {
            text-decoration: none;

            &::before {
              display: none;
            }
          }

          .footnote {
            display: inline-block;

            min-width: 25px;

            color: var(--md-sys-color-on-tertiary-container);
            line-height: 25px;
            text-align: center;
            vertical-align: middle;

            border-radius: var(--md-sys-shape-corner-large);

            background-color: var(--md-sys-color-tertiary-container);
          }

          &:target .footnote {
            color: var(--md-sys-color-on-primary);

            background-color: var(--md-sys-color-primary);
          }
        }

        [role="doc-endnotes"] {
          margin-block-start: 6px;
          margin-inline: 6px;
          padding-block: 0;

          ol {
            margin-inline: 24px;
            padding-block: 24px;

            counter-reset: listCounter;

            p {
              display: inline-block;

              vertical-align: middle;
            }

            :target p {
              text-decoration: underline wavy;
              text-underline-offset: 4px;
            }
          }
        }

        [role="doc-endnote"] {
          counter-increment: listCounter;
          list-style: none;

          a {
            text-decoration: none;

            &::before {
              display: none;
            }
          }

          &::before {
            @include typescale-style("body-large", $line-height: 36rem);
            content: counter(listCounter);

            display: inline-block;

            min-height: 36px;
            min-width: 24px;

            color: var(--md-sys-color-on-tertiary-container);
            text-align: center;
            vertical-align: middle;

            border-radius: var(--md-sys-shape-corner-large);

            background-color: var(--md-sys-color-tertiary-container);
          }
        }
      }
    }
  }
}
