<!DOCTYPE html>
<html lang="zh-hans">
  {% if page.permalink == "/404.html" %}
    {% include Head.liquid no_javascript = "true" %}
    {% include 404NotFound.liquid %}
    {% break %}
  {% else %}
    {% include Head.liquid %}
  {% endif %}
  <body class="JTM-Root" color="{{ page.color | default: site.color }}">
    {% if page.url != "/index.html" %}
      {% include WebsiteInformation.liquid %}
    {% endif %}
    {% include LoadingSplash.liquid %}
    {% if page.url == "/index.html" %}
      {% include UniversalLayout.liquid spec_page_index = "true" %}
    {% elsif page.url == "/posts.html" %}
      {% include UniversalLayout.liquid spec_carousel = "true" %}
    {% else %}
      {% include UniversalLayout.liquid spec_layout="article" %}
    {% endif %}
    {% if page.toc %}
      {% include TOC.liquid %}
    {% endif %}
    {% include ScrollToTop.liquid %}
  </body>
</html>