<!DOCTYPE html>
<html lang="zh-hans">
  <script src="/assets/js/domcontrol.js?v=1.0.0"></script>
  <!--  -->
  <!--  -->
  <!--  -->
  {%- include head.html -%}
  <body class="material-theme">
    {%- if page.permalink == "/404.html" -%} {{ content }} {%- else -%}
    <div class="content-loading">
      <h1>加载中</h1>
      <button class="mbt" spec="tonal" onclick="removeLoadScreen()">跳过加载</button>
    </div>

    <div class="mnd">
      {%- if page.toc -%}
      <p>目录</p>
      {% toc %}
      <!--  -->
      {%- else -%}
      <p>此页面没有目录</p>
      {%- endif -%}
    </div>

    <div class="content-grid">
      {%- include header.html -%}
      <div class="content-container">{%- include content.html -%} {%- include footer.html -%}</div>
    </div>

    <div class="right-corner-fabs">
      <div class="mfb" spec="primary" id="rcf-mfb-topbutton">keyboard_double_arrow_up</div>
    </div>
    {%- endif -%}
  </body>
  <!--  -->
  <!--  -->
  <!--  -->
  <script type="application/javascript" src="/assets/js/bundle.js?v=1.0.0" async></script>
</html>
