<!DOCTYPE html>
<html lang="zh-hans">
  {%- include Head.html -%}
  <body class="JTM-Root" {%- if page.color -%} color="{{ page.color }}" {%- endif -%}>
    {%- include WebsiteInformation.html -%}
    <!--  -->
    {%- if page.permalink == "/404.html" -%} {%- include 404NotFound.html -%} {%- else -%}
    <!--  -->
    {%- include LoadingSplash.html -%}
    <!--  -->
    {%- include UniversalLayout.html -%}
    <!--  -->
    {%- if page.toc -%} {%- include TOC.html -%} {%- endif -%}
    <!-- 底部 Fab -->
    {%- include CornerFAB.html -%} {%- endif -%}
  </body>
</html>
